<section class="about-intro">
    <div class="about-intro__top">
        <div class="about-intro__top-content">
            <div class="breadcrumbs about-intro__breadcrumbs">
                <a href="#">
                    Главная
                </a>
                <a href="#" class="active">
                    О компании
                </a>
            </div>
        </div>
    </div>
    <div class="about-intro__bottom">
        <div class="about-intro__bottom-card-wrapper">


            <div class="about-intro__bottom-card">

                <picture>
                    <source srcset="/images/about-intro-bg-mobile.webp" media="(max-width: 640px)" />
                    <img src="/images/about-intro-bg.webp" alt="" class="about-intro__image" />
                </picture>
            </div>
        </div>
        <div class="about-intro__bottom-content">
            <div class="about-intro__text-content">
                <h1 class="large-heading about-intro__heading">
                    о компании
                </h1>

                <div class="about-intro__text">
                    Мы официальные системные партнеры ООО «Промышленная робототехника» (ранее - KUKA Robotics), Эйдос
                    Робототехника, Regal Robotics, YIZUMI Machinery. Внедрение робототехнических комплексов и решений с
                    применением технологий смешанной реальности, позволят Вам оптимизировать производственные процессы.
                </div>
                <div class="about-intro__numbers">
                    <h3 class="about-intro__numbers-title">
                        Мы специализируемся:
                    </h3>
                    <ol class="about-intro__numbers-list">
                        <li class="about-intro__numbers-list-item">
                            <div class="about-intro__numbers-card">
                                <div class="about-intro__numbers-card-amount">

                                </div>
                                <div class="about-intro__numbers-card-text">
                                    На автоматизации процессов литья под высоким давлением, роботизированной сварке и
                                    фрезеровке, обслуживании роботом промышленных линий и обрабатывающих центров.
                                </div>
                            </div>
                        </li>
                        <li class="about-intro__numbers-list-item">
                            <div class="about-intro__numbers-card">
                                <div class="about-intro__numbers-card-amount">

                                </div>
                                <div class="about-intro__numbers-card-text">
                                    На разработке учебных решений, которые успешно используются в образовательных
                                    организациях, корпоративных институтах, и необходимы для оснащения лабораторий
                                    согласно
                                    инфраструктурным листам ДВИЖЕНИЯ ПРОФЕССИОНАЛОВ и КВАНТОРИУМ.
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="about-intro__quote-card">
                <div class="about-intro__quote-card-text">
                    Имея широкий спектр компетенций, наша компания готова разрабатывать уникальные решения,
                    соответствующие Вашим потребностям.
                </div>
                <div class="about-intro__quote-card-image-wrapper">
                    <img src="/images/about-quote.webp" alt="" class="about-intro__quote-card-image">
                </div>
            </div>
        </div>
    </div>

</section>