<article class="article">
    <div class="article__content">
        <div class="breadcrumbs article__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <a href="#">
                Новости
            </a>
            <a href="#" class="active">
                Стратегическая сессия «Развитие...
            </a>
        </div>
        <h1 class="article__heading">
            Стратегическая сессия «Развитие всероссийского чемпионатного движения по профессиональному мастерству»
        </h1>
        <div class="article__info">
            <div class="article__date">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#calendar"></use>
                </svg>
                12.04.24
            </div>
            <div class="article__time">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#calendar"></use>
                </svg>
                1 мин
            </div>
        </div>
        <div class="article__text-content">
            <p>
                С 4 по 6 июля в Федеральном технопарке профессионального образования в Калуге прошла сессия по развитию
                Чемпионатного движения.
            </p>
            <p>
                Наша компания, являясь партнером ВЧД, приняла участие в стратегической сессии, и в течение трех дней,
                совместно с другими участниками, мы формировали предложения по оптимизации взаимодействий и варианты
                развития движения, обсуждали потребности современной экономики и другие важные вопросы.
            </p>
            <img src="/images/article/1.webp" alt="">
            <p>
                Участниками стратегической сессии «Развитие Всероссийского чемпионатного движения по профессиональному
                мастерству до 2030 года» стали порядка 300 человек: представители Министерства просвещения Российской
                Федерации, Института развития профессионального образования, предприятий-партнеров, органов власти
                субъектов, региональных операторов и экспертного сообщества.
            </p>
            <img src="/images/article/2.webp" alt="">
            <p>
                Виктор Неумывакин, Директор Департамента государственной политики в сфере среднего профессионального
                образования и профессионального обучения Минпросвещения России, отметил, что подобная встреча позволила
                всем участникам-организаторам мероприятий Чемпионатного движения собраться на одной площадке и обсудить
                дальнейшие варианты развития перед такими значимыми событиями, как Финалы Чемпионатов.
            </p>
            <ul>
                <li>
                    <h3>
                        Заголовок
                    </h3>
                    <p>
                        Текст, который имеет некоторые характеристики реального письменного текста, но является
                        случайным набором слов или сгенерирован иным образом. 
                    </p>
                </li>
                <li>
                    <h3>
                        Заголовок
                    </h3>
                    <p>
                        Текст, который имеет некоторые характеристики реального письменного текста, но является
                        случайным набором слов или сгенерирован иным образом. 
                    </p>
                </li>
            </ul>
            <img src="/images/article/3.webp" alt="">
            <p>
                Мы являемся партнерами ВЧД по компетенциям, связанным с промышленной робототехникой: «Монтаж и
                обслуживание промышленных роботов» и «Промышленная робототехника».
            </p>
            <p>
                Наши учебные решения на базе роботов «Эйдос» были презентованы участникам сессии во время экскурсии по
                технопарку, и получили высокую оценку коллег и руководства.
            </p>
            <ol>
                <li>
                    <h3>
                        Заголовок
                    </h3>
                    <p>
                        Текст, который имеет некоторые характеристики реального письменного текста, но является
                        случайным набором слов или сгенерирован иным образом.
                    </p>
                </li>
                <li>
                    <h3>
                        Заголовок
                    </h3>
                    <p>
                        Текст, который имеет некоторые характеристики реального письменного текста, но является
                        случайным набором слов или сгенерирован иным образом.
                    </p>
                </li>
            </ol>
        </div>
        <div class="article__sharing">
            <h3 class="article__sharing-title">
                Поделиться:
            </h3>
            <ul class="article__sharing-list">
                <li class="article__sharing-list-item">
                    <a href="#" class="article__sharing-link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#whatsapp"></use>
                        </svg>
                    </a>
                </li>
                <li class="article__sharing-list-item">
                    <a href="#" class="article__sharing-link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="article__sharing-list-item">
                    <a href="#" class="article__sharing-link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#vk"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</article>