<section class="automation">
    <div class="automation__content">
        <div class="automation__text-content">
            <h2 class="automation__heading">
                Автоматизация, которая двигает ваш бизнес
            </h2>
            <div class="automation__text">
                Мы знаем, как сделать ваше производство лучше
            </div>
        </div>
        <ul class="automation__list">
            <li class="automation__list-item">
                <div class="automation__card">
                    <div class="automation__card-amount">
                        2018
                    </div>
                    <div class="automation__card-text">
                        Год основания
                    </div>
                </div>
            </li>
            <li class="automation__list-item">
                <div class="automation__card">
                    <div class="automation__card-amount">
                        134
                    </div>
                    <div class="automation__card-text">
                        Внедренных роботов&nbsp;KUKA
                    </div>
                </div>
            </li>
            <li class="automation__list-item">
                <div class="automation__card">
                    <div class="automation__card-amount">
                        111
                    </div>
                    <div class="automation__card-text">
                        Завершенных проектов
                    </div>
                </div>
            </li>
            <li class="automation__list-item">
                <div class="automation__card">
                    <div class="automation__card-amount">
                        1
                    </div>
                    <div class="automation__card-text">
                        Стратегический Партнер в Татарстане
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>