<section class="books">
    <div class="books__content">
        <div class="books__row">
            <div class="books__text-content">
                <h2 class="books__heading">
                    Наши учебные решения комплектуются методическими пособиями:
                </h2>
                <ul class="books__list">
                    <li class="books__list-item">
                        Для изучения теории
                    </li>
                    <li class="books__list-item">
                        Для выполнения практических работ
                    </li>
                    <li class="books__list-item">
                        Для выполнения определенного задания
                    </li>
                </ul>
            </div>
            <div class="books__image-wrapper">
                <img src="/images/books.webp" alt="" class="books__image">
            </div>
        </div>
    </div>
</section>