<section class="brand">
    <div class="brand__content">
        <div class="breadcrumbs brand__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <a href="#" class="active">
                Роботы бренда Kuka
            </a>
        </div>
        <h1 class="large-heading brand__heading">
            Роботы бренда Kuka
        </h1>
        <div class="brand__blocks">
            <div class="brand__block">
                <div class="brand__block-text-content">
                    <h2 class="brand__block-title">
                        Заголовок если нужен
                    </h2>
                    <div class="brand__block-text">
                        Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного
                        текста, но является случайным набором слов или сгенерирован иным образом. Его можно использовать
                        для отображения образца шрифтов, создания текста для тестирования или обхода спам-фильтра.
                    </div>
                </div>
                <div class="brand__block-image-wrapper">
                    <img src="/images/brand/1.webp" alt="" class="brand__block-image">
                </div>
            </div>
            <div class="brand__block">
                <div class="brand__block-text-content">
                    <h2 class="brand__block-title">
                        Заголовок если нужен
                    </h2>
                    <div class="brand__block-text">
                        Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного
                        текста, но является случайным набором слов или сгенерирован иным образом. Его можно использовать
                        для отображения образца шрифтов, создания текста для тестирования или обхода спам-фильтра.
                    </div>
                </div>
                <div class="brand__block-image-wrapper">
                    <img src="/images/brand/2.webp" alt="" class="brand__block-image">
                </div>
            </div>
            <div class="brand__block">
                <div class="brand__block-text-content">
                    <h2 class="brand__block-title">
                        Заголовок если нужен
                    </h2>
                    <div class="brand__block-text">
                        Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного
                        текста, но является случайным набором слов или сгенерирован иным образом. Его можно использовать
                        для отображения образца шрифтов, создания текста для тестирования или обхода спам-фильтра.
                    </div>
                </div>
                <div class="brand__block-image-wrapper">
                    <img src="/images/brand/3.webp" alt="" class="brand__block-image">
                </div>
            </div>
        </div>

    </div>
</section>