<section class="cart">
    <div class="cart__content">
        <div class="breadcrumbs cart__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <a href="#" class="active">
                Корзина
            </a>
        </div>
        <h1 class="large-heading cart__heading">
            Корзина
        </h1>
        <div class="cart__results">
            <div class="cart__results-header">
                <div class="cart__results-header-item">
                    Товар
                </div>
                <div class="cart__results-header-item">
                    Цена
                </div>
                <div class="cart__results-header-item">
                    Количество
                </div>
                <div class="cart__results-header-item">
                    Сумма
                </div>
            </div>
            <ul class="cart__results-list">
                <li class="cart__results-list-item">
                    <div class="cart__results-card">
                        <a href="#" class="cart__results-card-image-container">
                            <img src="/images/cart-item.webp" alt="" class="cart__results-card-image">
                        </a>
                        <a href="" class="cart__results-card-info">
                            <h3 class="cart__results-card-title">
                                Промышленный робот KUKA KR 120 QUANTEC
                            </h3>
                            <div class="cart__results-card-text">
                                Комплектация 1, на базе Робота Kuka название
                            </div>
                        </a>
                        <div class="cart__results-card-price">
                            от 2 850 000 ₽
                        </div>
                        <div class="cart__results-card-quantity">
                            <div class="cart__results-card-counter">
                                <button class="cart__results-card-counter-btn" disabled="">
                                    -
                                </button>
                                <input type="text" class="cart__results-card-counter-input" readonly="" value="1">
                                <button class="cart__results-card-counter-btn">
                                    +
                                </button>
                            </div>
                        </div>
                        <div class="cart__results-card-total-wrapper">
                            <div class="cart__results-card-total-amount">
                                от 2 850 000 ₽
                            </div>
                            <button class="cart__results-card-delete" type="button">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#cart-remove"></use>
                                </svg>
                            </button>
                        </div>

                    </div>
                </li>
                <li class="cart__results-list-item">
                    <div class="cart__results-card">
                        <a href="#" class="cart__results-card-image-container">
                            <img src="/images/cart-item.webp" alt="" class="cart__results-card-image">
                        </a>
                        <a href="" class="cart__results-card-info">
                            <h3 class="cart__results-card-title">
                                Промышленный робот KUKA KR 120 QUANTEC
                            </h3>
                            <div class="cart__results-card-text">
                                Комплектация 1, на базе Робота Kuka название
                            </div>
                        </a>
                        <div class="cart__results-card-price">
                            от 2 850 000 ₽
                        </div>
                        <div class="cart__results-card-quantity">
                            <div class="cart__results-card-counter">
                                <button class="cart__results-card-counter-btn" disabled="">
                                    -
                                </button>
                                <input type="text" class="cart__results-card-counter-input" readonly="" value="1">
                                <button class="cart__results-card-counter-btn">
                                    +
                                </button>
                            </div>
                        </div>
                        <div class="cart__results-card-total-wrapper">
                            <div class="cart__results-card-total-amount">
                                от 2 850 000 ₽
                            </div>
                            <button class="cart__results-card-delete" type="button">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#cart-remove"></use>
                                </svg>
                            </button>
                        </div>

                    </div>
                </li>
            </ul>
            <div class="cart__results-total">
                Итого: 5 700 000 ₽
            </div>
            <div class="cart__controls">
                <button class="btn cart__send">
                    Оставить заявку
                </button>
                <button class="cart__clear" type="button">
                    Очистить корзину
                </button>
            </div>
        </div>
    </div>
</section>