<section class="complectation complectation--four-items">
    <div class="complectation__content">
        <div class="complectation__wrapper">
            <div class="complectation__wrapper-inner">
                <div class="complectation__table">
                    <div class="complectation__table-head">
                        <div class="complectation__table-head-item">
                            Комплектация 1
                        </div>
                        <div class="complectation__table-head-item">
                            Комплектация 2
                        </div>
                        <div class="complectation__table-head-item">
                            Комплектация 3
                        </div>
                        <div class="complectation__table-head-item">
                            Комплектация 4
                        </div>
                    </div>
                    <div class="complectation__table-body" style="--items-count: 11;">
                        <ul class="complectation__names-list">
                            <li class="complectation__names-list-item">
                                Промышленный робот KUKA KR 4 R600
                            </li>
                            <li class="complectation__names-list-item">
                                Контроллер KUKA KR C5 micro
                            </li>
                            <li class="complectation__names-list-item">
                                Пульт управления KUKA SmartPAD 2
                            </li>
                            <li class="complectation__names-list-item">
                                Мобильное основание с защитным ограждением для робота
                            </li>
                            <li class="complectation__names-list-item">
                                KUKA KR 4 R600
                            </li>
                            <li class="complectation__names-list-item">
                                Методические пособия Работа с роботом KUKA
                            </li>
                            <li class="complectation__names-list-item">
                                Методические пособия Работа с роботом KUKA
                            </li>
                            <li class="complectation__names-list-item">
                                Бесшумный компрессор Patriot
                            </li>
                            <li class="complectation__names-list-item">
                                Планшет для зажима листов
                            </li>
                            <li class="complectation__names-list-item">
                                Конвейер
                            </li>
                            <li class="complectation__names-list-item">
                                Комплект объектов для манипулирования с накопителем
                            </li>
                        </ul>
                        <div class="complectation__table-col">
                            <div class="complectation__table-col-item" data-name="Промышленный робот KUKA KR 4 R600">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                            <div class="complectation__table-col-item" data-name="Контроллер KUKA KR C5 micro">
                                <div class="complectation__table-col-item-status">
                                    -
                                </div>
                            </div>
                            <div class="complectation__table-col-item" data-name="Пульт управления KUKA SmartPAD 2">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                            <div class="complectation__table-col-item"
                                data-name="Мобильное основание с защитным ограждением для робота">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                            <div class="complectation__table-col-item" data-name="KUKA KR 4 R600">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                            <div class="complectation__table-col-item"
                                data-name="Методические пособия Работа с роботом KUKA">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                            <div class="complectation__table-col-item"
                                data-name="Методические пособия Работа с роботом KUKA">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                            <div class="complectation__table-col-item" data-name="Бесшумный компрессор Patriot">
                                <div class="complectation__table-col-item-status">
                                    -
                                </div>
                            </div>
                            <div class="complectation__table-col-item" data-name="Планшет для зажима листов">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                            <div class="complectation__table-col-item" data-name="Конвейер">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                            <div class="complectation__table-col-item"
                                data-name="Комплект объектов для манипулирования с накопителем">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                        </div>
                        <div class="complectation__table-col">
                            <div class="complectation__table-col-item" data-name="Промышленный робот KUKA KR 4 R600">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                            <div class="complectation__table-col-item" data-name="Контроллер KUKA KR C5 micro">
                                <div class="complectation__table-col-item-status">
                                    -
                                </div>
                            </div>
                            <div class="complectation__table-col-item" data-name="Пульт управления KUKA SmartPAD 2">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                            <div class="complectation__table-col-item"
                                data-name="Мобильное основание с защитным ограждением для робота">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                            <div class="complectation__table-col-item" data-name="KUKA KR 4 R600">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                            <div class="complectation__table-col-item"
                                data-name="Методические пособия Работа с роботом KUKA">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                            <div class="complectation__table-col-item"
                                data-name="Методические пособия Работа с роботом KUKA">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                            <div class="complectation__table-col-item" data-name="Бесшумный компрессор Patriot">
                                <div class="complectation__table-col-item-status">
                                    -
                                </div>
                            </div>
                            <div class="complectation__table-col-item" data-name="Планшет для зажима листов">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                            <div class="complectation__table-col-item" data-name="Конвейер">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                            <div class="complectation__table-col-item"
                                data-name="Комплект объектов для манипулирования с накопителем">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                        </div>
                        <div class="complectation__table-col">
                            <div class="complectation__table-col-item" data-name="Промышленный робот KUKA KR 4 R600">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                            <div class="complectation__table-col-item" data-name="Контроллер KUKA KR C5 micro">
                                <div class="complectation__table-col-item-status">
                                    -
                                </div>
                            </div>
                            <div class="complectation__table-col-item" data-name="Пульт управления KUKA SmartPAD 2">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                            <div class="complectation__table-col-item"
                                data-name="Мобильное основание с защитным ограждением для робота">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                            <div class="complectation__table-col-item" data-name="KUKA KR 4 R600">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                            <div class="complectation__table-col-item"
                                data-name="Методические пособия Работа с роботом KUKA">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                            <div class="complectation__table-col-item"
                                data-name="Методические пособия Работа с роботом KUKA">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                            <div class="complectation__table-col-item" data-name="Бесшумный компрессор Patriot">
                                <div class="complectation__table-col-item-status">
                                    -
                                </div>
                            </div>
                            <div class="complectation__table-col-item" data-name="Планшет для зажима листов">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                            <div class="complectation__table-col-item" data-name="Конвейер">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                            <div class="complectation__table-col-item"
                                data-name="Комплект объектов для манипулирования с накопителем">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                        </div>
                        <div class="complectation__table-col">
                            <div class="complectation__table-col-item" data-name="Промышленный робот KUKA KR 4 R600">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                            <div class="complectation__table-col-item" data-name="Контроллер KUKA KR C5 micro">
                                <div class="complectation__table-col-item-status">
                                    -
                                </div>
                            </div>
                            <div class="complectation__table-col-item" data-name="Пульт управления KUKA SmartPAD 2">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                            <div class="complectation__table-col-item"
                                data-name="Мобильное основание с защитным ограждением для робота">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                            <div class="complectation__table-col-item" data-name="KUKA KR 4 R600">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                            <div class="complectation__table-col-item"
                                data-name="Методические пособия Работа с роботом KUKA">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                            <div class="complectation__table-col-item"
                                data-name="Методические пособия Работа с роботом KUKA">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                            <div class="complectation__table-col-item" data-name="Бесшумный компрессор Patriot">
                                <div class="complectation__table-col-item-status">
                                    -
                                </div>
                            </div>
                            <div class="complectation__table-col-item" data-name="Планшет для зажима листов">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                            <div class="complectation__table-col-item" data-name="Конвейер">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                            <div class="complectation__table-col-item"
                                data-name="Комплект объектов для манипулирования с накопителем">
                                <div class="complectation__table-col-item-status">
                                    +
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="complectation__controls">
                    <div class="complectation__info">
                        <div class="complectation__info-icon">
                            i
                        </div>
                        <div class="complectation__info-text">
                            Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного
                            текста, но является случайным набором слов или сгенерирован иным образом. Его можно
                            использовать
                            для отображения образца шрифтов, создания текста для тестирования или обхода спам-фильтра. 
                        </div>
                    </div>
                    <div class="complectation__variants">
                        <div class="complectation__variant">
                            <form action="/" method="POST" class="complectation__variant-form">
                                <div class="complectation__variant-robot">
                                    <ul class="complectation__variant-list">
                                        <li class="complectation__variant-list-item">
                                            <label class="complectation__variant-card">
                                                <input type="radio" name="complectation-one"
                                                    class="complectation__variant-card-input"
                                                    value="Промышленный робот KUKA KR 8" checked="">
                                                <span class="complectation__variant-card-content">
                                                    <span class="complectation__variant-card-image-wrapper">
                                                        <img src="/images/variants/1.webp" alt=""
                                                            class="complectation__variant-card-image">
                                                    </span>
                                                    <span class="complectation__variant-card-wrapper">
                                                        <span class="complectation__variant-card-title">
                                                            Промышленный робот KUKA KR 8
                                                        </span>
                                                        <span class="complectation__variant-card-price">
                                                            450 000₽
                                                        </span>
                                                        <span class="complectation__variant-card-mark">

                                                        </span>

                                                    </span>

                                                </span>
                                            </label>
                                        </li>
                                        <li class="complectation__variant-list-item">
                                            <label class="complectation__variant-card">
                                                <input type="radio" name="complectation-one"
                                                    class="complectation__variant-card-input"
                                                    value="Промышленный робот KUKA KR 82">
                                                <span class="complectation__variant-card-content">
                                                    <span class="complectation__variant-card-image-wrapper">
                                                        <img src="/images/variants/2.webp" alt=""
                                                            class="complectation__variant-card-image">
                                                    </span>
                                                    <span class="complectation__variant-card-wrapper">
                                                        <span class="complectation__variant-card-title">
                                                            Промышленный робот KUKA KR 8
                                                        </span>
                                                        <span class="complectation__variant-card-price">
                                                            450 000₽
                                                        </span>
                                                        <span class="complectation__variant-card-mark">

                                                        </span>

                                                    </span>

                                                </span>
                                            </label>
                                        </li>
                                        <li class="complectation__variant-list-item">
                                            <label class="complectation__variant-card">
                                                <input type="radio" name="complectation-one"
                                                    class="complectation__variant-card-input"
                                                    value="Промышленный робот KUKA KR 83">
                                                <span class="complectation__variant-card-content">
                                                    <span class="complectation__variant-card-image-wrapper">
                                                        <img src="/images/variants/3.webp" alt=""
                                                            class="complectation__variant-card-image">
                                                    </span>
                                                    <span class="complectation__variant-card-wrapper">
                                                        <span class="complectation__variant-card-title">
                                                            Промышленный робот KUKA KR 8
                                                        </span>
                                                        <span class="complectation__variant-card-price">
                                                            450 000₽
                                                        </span>
                                                        <span class="complectation__variant-card-mark">

                                                        </span>

                                                    </span>
                                                </span>
                                            </label>
                                        </li>
                                        <li class="complectation__variant-list-item">
                                            <label class="complectation__variant-no-robot">
                                                <input type="radio" name="complectation-one"
                                                    class="complectation__variant-card-input" value="no-robot">
                                                <span class="complectation__variant-no-robot-text">
                                                    Робот не нужен
                                                </span>
                                                <span class="complectation__variant-card-mark">

                                                </span>
                                            </label>
                                        </li>
                                    </ul>
                                    <button class="complectation__variant-show-more" type="button">
                                        Выбрать другой
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="7"
                                            viewBox="0 0 16 7">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M0 6.5V6.04644L7.99973 0.500029L16 6.04644V6.5H13.1541L7.99973 2.92634L2.84532 6.5H0Z" />
                                        </svg>
                                    </button>
                                </div>
                                <div class="complectation__variant-controls">
                                    <div class="complectation__variant-counter js-simple-counter" data-min="1">
                                        <button class="complectation__variant-counter-btn js-simple-counter-minus"
                                            disabled="">
                                            -
                                        </button>
                                        <input type="text" readonly="" value="1"
                                            class="complectation__variant-counter-input" name="quantity">
                                        <button class="complectation__variant-counter-btn js-simple-counter-plus">
                                            +
                                        </button>
                                    </div>
                                    <div class="complectation__variant-summary-block">
                                        <div class="complectation__variant-price-wrapper">
                                            <div class="complectation__variant-price">
                                                2 450 000 ₽
                                            </div>
                                            <div class="complectation__variant-price-remark">
                                                *Робот включен в стоимость
                                            </div>
                                        </div>
                                        <button class="btn complectation__variant-submit" type="submit">
                                            Добавить в корзину
                                        </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="complectation__variant">
                            <form action="/" method="POST" class="complectation__variant-form">
                                <div class="complectation__variant-robot">
                                    <ul class="complectation__variant-list">
                                        <li class="complectation__variant-list-item">
                                            <label class="complectation__variant-card">
                                                <input type="radio" name="complectation-two"
                                                    class="complectation__variant-card-input"
                                                    value="Промышленный робот KUKA KR 8" checked="">
                                                <span class="complectation__variant-card-content">
                                                    <span class="complectation__variant-card-image-wrapper">
                                                        <img src="/images/variants/1.webp" alt=""
                                                            class="complectation__variant-card-image">
                                                    </span>
                                                    <span class="complectation__variant-card-wrapper">
                                                        <span class="complectation__variant-card-title">
                                                            Промышленный робот KUKA KR 8
                                                        </span>
                                                        <span class="complectation__variant-card-price">
                                                            450 000₽
                                                        </span>
                                                        <span class="complectation__variant-card-mark">

                                                        </span>

                                                    </span>

                                                </span>
                                            </label>
                                        </li>
                                        <li class="complectation__variant-list-item">
                                            <label class="complectation__variant-card">
                                                <input type="radio" name="complectation-two"
                                                    class="complectation__variant-card-input"
                                                    value="Промышленный робот KUKA KR 82">
                                                <span class="complectation__variant-card-content">
                                                    <span class="complectation__variant-card-image-wrapper">
                                                        <img src="/images/variants/2.webp" alt=""
                                                            class="complectation__variant-card-image">
                                                    </span>
                                                    <span class="complectation__variant-card-wrapper">
                                                        <span class="complectation__variant-card-title">
                                                            Промышленный робот KUKA KR 8
                                                        </span>
                                                        <span class="complectation__variant-card-price">
                                                            450 000₽
                                                        </span>
                                                        <span class="complectation__variant-card-mark">

                                                        </span>

                                                    </span>

                                                </span>
                                            </label>
                                        </li>
                                        <li class="complectation__variant-list-item">
                                            <label class="complectation__variant-card">
                                                <input type="radio" name="complectation-two"
                                                    class="complectation__variant-card-input"
                                                    value="Промышленный робот KUKA KR 83">
                                                <span class="complectation__variant-card-content">
                                                    <span class="complectation__variant-card-image-wrapper">
                                                        <img src="/images/variants/3.webp" alt=""
                                                            class="complectation__variant-card-image">
                                                    </span>
                                                    <span class="complectation__variant-card-wrapper">
                                                        <span class="complectation__variant-card-title">
                                                            Промышленный робот KUKA KR 8
                                                        </span>
                                                        <span class="complectation__variant-card-price">
                                                            450 000₽
                                                        </span>
                                                        <span class="complectation__variant-card-mark">

                                                        </span>

                                                    </span>
                                                </span>
                                            </label>
                                        </li>
                                        <li class="complectation__variant-list-item">
                                            <label class="complectation__variant-no-robot">
                                                <input type="radio" name="complectation-two"
                                                    class="complectation__variant-card-input" value="no-robot">
                                                <span class="complectation__variant-no-robot-text">
                                                    Робот не нужен
                                                </span>
                                                <span class="complectation__variant-card-mark">

                                                </span>
                                            </label>
                                        </li>
                                    </ul>
                                    <button class="complectation__variant-show-more" type="button">
                                        Выбрать другой
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="7"
                                            viewBox="0 0 16 7">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M0 6.5V6.04644L7.99973 0.500029L16 6.04644V6.5H13.1541L7.99973 2.92634L2.84532 6.5H0Z" />
                                        </svg>
                                    </button>
                                </div>
                                <div class="complectation__variant-controls">
                                    <div class="complectation__variant-counter js-simple-counter" data-min="1">
                                        <button class="complectation__variant-counter-btn js-simple-counter-minus"
                                            disabled="">
                                            -
                                        </button>
                                        <input type="text" readonly="" value="1"
                                            class="complectation__variant-counter-input">
                                        <button class="complectation__variant-counter-btn js-simple-counter-plus">
                                            +
                                        </button>
                                    </div>
                                    <div class="complectation__variant-summary-block">
                                        <div class="complectation__variant-price-wrapper">
                                            <div class="complectation__variant-price">
                                                2 450 000 ₽
                                            </div>
                                            <div class="complectation__variant-price-remark">
                                                *Робот включен в стоимость
                                            </div>
                                        </div>
                                        <button class="btn complectation__variant-submit" type="submit">
                                            Добавить в корзину
                                        </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="complectation__variant">
                            <form action="/" method="POST" class="complectation__variant-form">
                                <div class="complectation__variant-robot">
                                    <ul class="complectation__variant-list">
                                        <li class="complectation__variant-list-item">
                                            <label class="complectation__variant-card">
                                                <input type="radio" name="complectation-three"
                                                    class="complectation__variant-card-input"
                                                    value="Промышленный робот KUKA KR 8" checked="">
                                                <span class="complectation__variant-card-content">
                                                    <span class="complectation__variant-card-image-wrapper">
                                                        <img src="/images/variants/1.webp" alt=""
                                                            class="complectation__variant-card-image">
                                                    </span>
                                                    <span class="complectation__variant-card-wrapper">
                                                        <span class="complectation__variant-card-title">
                                                            Промышленный робот KUKA KR 8
                                                        </span>
                                                        <span class="complectation__variant-card-price">
                                                            450 000₽
                                                        </span>
                                                        <span class="complectation__variant-card-mark">

                                                        </span>

                                                    </span>

                                                </span>
                                            </label>
                                        </li>
                                        <li class="complectation__variant-list-item">
                                            <label class="complectation__variant-card">
                                                <input type="radio" name="complectation-three"
                                                    class="complectation__variant-card-input"
                                                    value="Промышленный робот KUKA KR 82">
                                                <span class="complectation__variant-card-content">
                                                    <span class="complectation__variant-card-image-wrapper">
                                                        <img src="/images/variants/2.webp" alt=""
                                                            class="complectation__variant-card-image">
                                                    </span>
                                                    <span class="complectation__variant-card-wrapper">
                                                        <span class="complectation__variant-card-title">
                                                            Промышленный робот KUKA KR 8
                                                        </span>
                                                        <span class="complectation__variant-card-price">
                                                            450 000₽
                                                        </span>
                                                        <span class="complectation__variant-card-mark">

                                                        </span>

                                                    </span>

                                                </span>
                                            </label>
                                        </li>
                                        <li class="complectation__variant-list-item">
                                            <label class="complectation__variant-card">
                                                <input type="radio" name="complectation-three"
                                                    class="complectation__variant-card-input"
                                                    value="Промышленный робот KUKA KR 83">
                                                <span class="complectation__variant-card-content">
                                                    <span class="complectation__variant-card-image-wrapper">
                                                        <img src="/images/variants/3.webp" alt=""
                                                            class="complectation__variant-card-image">
                                                    </span>
                                                    <span class="complectation__variant-card-wrapper">
                                                        <span class="complectation__variant-card-title">
                                                            Промышленный робот KUKA KR 8
                                                        </span>
                                                        <span class="complectation__variant-card-price">
                                                            450 000₽
                                                        </span>
                                                        <span class="complectation__variant-card-mark">

                                                        </span>

                                                    </span>
                                                </span>
                                            </label>
                                        </li>
                                        <li class="complectation__variant-list-item">
                                            <label class="complectation__variant-no-robot">
                                                <input type="radio" name="complectation-three"
                                                    class="complectation__variant-card-input" value="no-robot">
                                                <span class="complectation__variant-no-robot-text">
                                                    Робот не нужен
                                                </span>
                                                <span class="complectation__variant-card-mark">

                                                </span>
                                            </label>
                                        </li>
                                    </ul>
                                    <button class="complectation__variant-show-more" type="button">
                                        Выбрать другой
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="7"
                                            viewBox="0 0 16 7">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M0 6.5V6.04644L7.99973 0.500029L16 6.04644V6.5H13.1541L7.99973 2.92634L2.84532 6.5H0Z" />
                                        </svg>
                                    </button>
                                </div>
                                <div class="complectation__variant-controls">
                                    <div class="complectation__variant-counter js-simple-counter" data-min="1">
                                        <button class="complectation__variant-counter-btn js-simple-counter-minus"
                                            disabled="">
                                            -
                                        </button>
                                        <input type="text" readonly="" value="1"
                                            class="complectation__variant-counter-input">
                                        <button class="complectation__variant-counter-btn js-simple-counter-plus">
                                            +
                                        </button>
                                    </div>
                                    <div class="complectation__variant-summary-block">
                                        <div class="complectation__variant-price-wrapper">
                                            <div class="complectation__variant-price">
                                                2 450 000 ₽
                                            </div>
                                            <div class="complectation__variant-price-remark">
                                                *Робот включен в стоимость
                                            </div>
                                        </div>
                                        <button class="btn complectation__variant-submit" type="submit">
                                            Добавить в корзину
                                        </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="complectation__variant">
                            <form action="/" method="POST" class="complectation__variant-form">
                                <div class="complectation__variant-robot">
                                    <ul class="complectation__variant-list">
                                        <li class="complectation__variant-list-item">
                                            <label class="complectation__variant-card">
                                                <input type="radio" name="complectation-four"
                                                    class="complectation__variant-card-input"
                                                    value="Промышленный робот KUKA KR 8" checked="">
                                                <span class="complectation__variant-card-content">
                                                    <span class="complectation__variant-card-image-wrapper">
                                                        <img src="/images/variants/1.webp" alt=""
                                                            class="complectation__variant-card-image">
                                                    </span>
                                                    <span class="complectation__variant-card-wrapper">
                                                        <span class="complectation__variant-card-title">
                                                            Промышленный робот KUKA KR 8
                                                        </span>
                                                        <span class="complectation__variant-card-price">
                                                            450 000₽
                                                        </span>
                                                        <span class="complectation__variant-card-mark">

                                                        </span>

                                                    </span>

                                                </span>
                                            </label>
                                        </li>
                                        <li class="complectation__variant-list-item">
                                            <label class="complectation__variant-card">
                                                <input type="radio" name="complectation-four"
                                                    class="complectation__variant-card-input"
                                                    value="Промышленный робот KUKA KR 82">
                                                <span class="complectation__variant-card-content">
                                                    <span class="complectation__variant-card-image-wrapper">
                                                        <img src="/images/variants/2.webp" alt=""
                                                            class="complectation__variant-card-image">
                                                    </span>
                                                    <span class="complectation__variant-card-wrapper">
                                                        <span class="complectation__variant-card-title">
                                                            Промышленный робот KUKA KR 8
                                                        </span>
                                                        <span class="complectation__variant-card-price">
                                                            450 000₽
                                                        </span>
                                                        <span class="complectation__variant-card-mark">

                                                        </span>

                                                    </span>

                                                </span>
                                            </label>
                                        </li>
                                        <li class="complectation__variant-list-item">
                                            <label class="complectation__variant-card">
                                                <input type="radio" name="complectation-four"
                                                    class="complectation__variant-card-input"
                                                    value="Промышленный робот KUKA KR 83">
                                                <span class="complectation__variant-card-content">
                                                    <span class="complectation__variant-card-image-wrapper">
                                                        <img src="/images/variants/3.webp" alt=""
                                                            class="complectation__variant-card-image">
                                                    </span>
                                                    <span class="complectation__variant-card-wrapper">
                                                        <span class="complectation__variant-card-title">
                                                            Промышленный робот KUKA KR 8
                                                        </span>
                                                        <span class="complectation__variant-card-price">
                                                            450 000₽
                                                        </span>
                                                        <span class="complectation__variant-card-mark">

                                                        </span>

                                                    </span>
                                                </span>
                                            </label>
                                        </li>
                                        <li class="complectation__variant-list-item">
                                            <label class="complectation__variant-no-robot">
                                                <input type="radio" name="complectation-four"
                                                    class="complectation__variant-card-input" value="no-robot">
                                                <span class="complectation__variant-no-robot-text">
                                                    Робот не нужен
                                                </span>
                                                <span class="complectation__variant-card-mark">

                                                </span>
                                            </label>
                                        </li>
                                    </ul>
                                    <button class="complectation__variant-show-more" type="button">
                                        Выбрать другой
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="7"
                                            viewBox="0 0 16 7">
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                d="M0 6.5V6.04644L7.99973 0.500029L16 6.04644V6.5H13.1541L7.99973 2.92634L2.84532 6.5H0Z" />
                                        </svg>
                                    </button>
                                </div>
                                <div class="complectation__variant-controls">
                                    <div class="complectation__variant-counter js-simple-counter" data-min="1">
                                        <button class="complectation__variant-counter-btn js-simple-counter-minus"
                                            disabled="">
                                            -
                                        </button>
                                        <input type="text" readonly="" value="1"
                                            class="complectation__variant-counter-input" name="quantity">
                                        <button class="complectation__variant-counter-btn js-simple-counter-plus">
                                            +
                                        </button>
                                    </div>
                                    <div class="complectation__variant-summary-block">
                                        <div class="complectation__variant-price-wrapper">
                                            <div class="complectation__variant-price">
                                                2 450 000 ₽
                                            </div>
                                            <div class="complectation__variant-price-remark">
                                                *Робот включен в стоимость
                                            </div>
                                        </div>
                                        <button class="btn complectation__variant-submit" type="submit">
                                            Добавить в корзину
                                        </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>