<section class="contacts">
    <div class="contacts__content">
        <div class="breadcrumbs contacts__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <a href="#" class="active">
                Контакты
            </a>
        </div>
        <div class="contacts__row">
            <div class="contacts__text-content">
                <h1 class="large-heading contacts__heading">
                    Контакты
                </h1>
                <ul class="contacts__list">
                    <li class="contacts__list-item">
                        <a href="tel:+78009999999" class="contacts__link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#phone"></use>
                            </svg>
                            8 (800) 999-99-99
                        </a>
                    </li>
                    <li class="contacts__list-item">
                        <a href="tel:+78435283032" class="contacts__link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#phone"></use>
                            </svg>
                            +7 (843) 528-30-32
                        </a>
                    </li>
                    <li class="contacts__list-item">
                        <a href="mailto:info@vrm.group" class="contacts__link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#mail"></use>
                            </svg>
                            info@vrm.group
                        </a>
                    </li>
                    <li class="contacts__list-item">
                        <a href="mailto:info@vrm.group" class="contacts__link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#mail"></use>
                            </svg>
                            вторая почта
                        </a>
                    </li>
                    <li class="contacts__list-item">
                        <div class="contacts__link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#clock"></use>
                            </svg>
                            Режим работы: 09:00 - 18:00
                        </div>
                    </li>
                    <li class="contacts__list-item">
                        <div class="contacts__link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#location"></use>
                            </svg>
                            г. Иннополис, ул.<br> Университетская д.7
                        </div>
                    </li>
                    <li class="contacts__list-item">
                        <div class="contacts__link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#location"></use>
                            </svg>
                            г.Казань, ул. Военный<br> Городок-2, д 142/1
                        </div>
                    </li>
                </ul>
            </div>
            <div class="contacts__map-wrapper" data-lat="55.751837" data-lng="48.751597" data-zoom="16"
                data-theme-url="/data/customization.json">
                <div class="contacts__map" id="contacts-map">

                </div>
            </div>
        </div>
        <div class="contacts__info-wrapper">
            <div class="contacts__info">
                <h2 class="contacts__info-heading">
                    Юридическая информация
                </h2>
                <ul class="contacts__info-list">
                    <li class="contacts__info-list-item">
                        <div class="contacts__info-card">
                            <h3 class="contacts__info-card-title">
                                ОГРН
                            </h3>
                            <div class="contacts__info-card-value">
                                1191690008278
                            </div>
                        </div>
                    </li>
                    <li class="contacts__info-list-item">
                        <div class="contacts__info-card">
                            <h3 class="contacts__info-card-title">
                                ИНН/КПП
                            </h3>
                            <div class="contacts__info-card-value">
                                1615014360/161501001
                            </div>
                        </div>
                    </li>
                    <li class="contacts__info-list-item">
                        <div class="contacts__info-card">
                            <h3 class="contacts__info-card-title">
                                Дата регистрации
                            </h3>
                            <div class="contacts__info-card-value">
                                28.01.2019
                            </div>
                        </div>
                    </li>
                    <li class="contacts__info-list-item">
                        <div class="contacts__info-card">
                            <h3 class="contacts__info-card-title">
                                Юридический адрес
                            </h3>
                            <div class="contacts__info-card-value">
                                20500, Республика Татарстан, Верхнеуслонский район, город Иннополис, Университетская
                                ул., д. 7, офис 7
                            </div>
                        </div>
                    </li>
                </ul>
                <a href="#" class="contacts__partner-card">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#download"></use>
                    </svg>
                    <div class="contacts__partner-card-content">
                        <div class="contacts__partner-card-title">
                            Карта партнера
                        </div>
                        <div class="contacts__partner-card-size">
                            Pdf
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>