<section class="description" id="description">
    <div class="description__content">
        <h2 class="description__heading">
            Описание
        </h2>
        <div class="description__text">
            <p>
                Сварочное решение KUKA KR 120 QUANTEC предназначено для замены ручного труда на роботизированный.
                Наиболее востребовано в отрасли машиностроения.
            </p>
            <p>
                Алгоритм настройки робота следующий: оператор создает программу траектории перемещения, назначает
                сварочные параметры и сохраняет. Далее робот выполняет последовательные операции по заданной программе
                требуемое количество раз. При переходе к новому изделию последовательность повторяется.
            </p>
        </div>
    </div>
</section>