<section class="education-intro">
    <div class="education-intro__top">
        <div class="education-intro__top-content">
            <div class="breadcrumbs education-intro__breadcrumbs">
                <a href="#">
                    Главная
                </a>
                <a href="#" class="active">
                    Обучение
                </a>
            </div>
        </div>
    </div>
    <div class="education-intro__bottom">
        <div class="education-intro__bottom-card-wrapper">


            <div class="education-intro__bottom-card">

                <picture>
                    <source srcset="/images/education-mobile.webp" media="(max-width: 640px)" />
                    <img src="/images/education.webp" alt="" class="education-intro__image" />
                </picture>
            </div>
        </div>
        <div class="education-intro__bottom-content">
            <div class="education-intro__text-content">
                <h1 class="large-heading education-intro__heading">
                    Обучение
                </h1>

                <div class="education-intro__text">
                    Получить практические знания и опыт в области промышленной робототехники
                </div>
                <ul class="education-intro__numbers-list">
                    <li class="education-intro__numbers-list-item">
                        <div class="education-intro__numbers-card">
                            <div class="education-intro__numbers-card-amount">
                                1638
                            </div>
                            <div class="education-intro__numbers-card-text">
                                Человек прошло<br> обучение
                            </div>
                        </div>
                    </li>
                    <li class="education-intro__numbers-list-item">
                        <div class="education-intro__numbers-card">
                            <div class="education-intro__numbers-card-amount">
                                587
                            </div>
                            <div class="education-intro__numbers-card-text">
                                Прошли повышение<br> квалификации
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</section>