<section class="equipment" id="equipment">
    <div class="equipment__content">
        <h2 class="equipment__heading">
            Дополнительное оборудование
        </h2>
        <div class="equipment__slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="robot-card">
                            <div class="robot-card__image-wrapper">
                                <img src="/images/robots-catalog/5.webp" alt="" class="robot-card__image">
                            </div>
                            <h3 class="robot-card__title">
                                Промышленный робот KUKA KR 8
                            </h3>
                            <div class="robot-card__price">
                                от 2 850 000₽
                            </div>
                            <div class="robot-card__arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#simple-arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="robot-card">
                            <div class="robot-card__image-wrapper">
                                <img src="/images/robots-catalog/6.webp" alt="" class="robot-card__image">
                            </div>
                            <h3 class="robot-card__title">
                                Промышленный робот KUKA KR 8, название в три строки
                            </h3>
                            <div class="robot-card__price">
                                от 2 850 000₽
                            </div>
                            <div class="robot-card__arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#simple-arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="robot-card">
                            <div class="robot-card__image-wrapper">
                                <img src="/images/robots-catalog/3.webp" alt="" class="robot-card__image">
                            </div>
                            <h3 class="robot-card__title">
                                Промышленный робот KUKA KR 8
                            </h3>
                            <div class="robot-card__price">
                                от 2 850 000₽
                            </div>
                            <div class="robot-card__arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#simple-arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" class="robot-card">
                            <div class="robot-card__image-wrapper">
                                <img src="/images/robots-catalog/4.webp" alt="" class="robot-card__image">
                            </div>
                            <h3 class="robot-card__title">
                                Промышленный робот KUKA KR 8
                            </h3>
                            <div class="robot-card__price">
                                от 2 850 000₽
                            </div>
                            <div class="robot-card__arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#simple-arrow-right"></use>
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>