<section class="faq-page">
    <div class="faq-page__content">
        <div class="breadcrumbs faq-page__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <a href="#" class="active">
                Часто задаваемые вопросы
            </a>
        </div>
        <h1 class="large-heading faq-page__heading">
            Часто задаваемые вопросы
        </h1>
        <div class="faq-page__wrapper">
            <ul class="faq__list">
                <li class="faq__list-item">
                    <div class="faq__accordion">
                        <div class="faq__accordion-left-col">
                            <h3 class="faq__accordion-title">
                                Какие этапы реализации проекта?
                            </h3>
                            <div class="faq__accordion-dropdown">
                                <div class="faq__accordion-dropdown-inner">
                                    <div class="faq__accordion-dropdown-content">
                                        Текст-заполнитель — это текст, который имеет некоторые характеристики реального
                                        письменного текста, но является случайным набором слов или сгенерирован иным
                                        образом.
                                        Его можно использовать для отображения образца шрифтов, создания текста для
                                        тестирования
                                        или обхода спам-фильтра.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="faq__accordion-icon">

                        </div>
                    </div>
                </li>
                <li class="faq__list-item">
                    <div class="faq__accordion">
                        <div class="faq__accordion-left-col">
                            <h3 class="faq__accordion-title">
                                Для каких сфер?
                            </h3>
                            <div class="faq__accordion-dropdown">
                                <div class="faq__accordion-dropdown-inner">
                                    <div class="faq__accordion-dropdown-content">
                                        Текст-заполнитель — это текст, который имеет некоторые характеристики реального
                                        письменного текста, но является случайным набором слов или сгенерирован иным
                                        образом.
                                        Его можно использовать для отображения образца шрифтов, создания текста для
                                        тестирования
                                        или обхода спам-фильтра.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="faq__accordion-icon">

                        </div>
                    </div>
                </li>
                <li class="faq__list-item">
                    <div class="faq__accordion">
                        <div class="faq__accordion-left-col">
                            <h3 class="faq__accordion-title">
                                Есть ли обучение на оборудование?
                            </h3>
                            <div class="faq__accordion-dropdown">
                                <div class="faq__accordion-dropdown-inner">
                                    <div class="faq__accordion-dropdown-content">
                                        Текст-заполнитель — это текст, который имеет некоторые характеристики реального
                                        письменного текста, но является случайным набором слов или сгенерирован иным
                                        образом.
                                        Его можно использовать для отображения образца шрифтов, создания текста для
                                        тестирования
                                        или обхода спам-фильтра.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="faq__accordion-icon">

                        </div>
                    </div>
                </li>
                <li class="faq__list-item">
                    <div class="faq__accordion">
                        <div class="faq__accordion-left-col">
                            <h3 class="faq__accordion-title">
                                Какие этапы реализации проекта?
                            </h3>
                            <div class="faq__accordion-dropdown">
                                <div class="faq__accordion-dropdown-inner">
                                    <div class="faq__accordion-dropdown-content">
                                        Текст-заполнитель — это текст, который имеет некоторые характеристики реального
                                        письменного текста, но является случайным набором слов или сгенерирован иным
                                        образом.
                                        Его можно использовать для отображения образца шрифтов, создания текста для
                                        тестирования
                                        или обхода спам-фильтра.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="faq__accordion-icon">

                        </div>
                    </div>
                </li>
                <li class="faq__list-item">
                    <div class="faq__accordion">
                        <div class="faq__accordion-left-col">
                            <h3 class="faq__accordion-title">
                                Какие этапы реализации проекта?
                            </h3>
                            <div class="faq__accordion-dropdown">
                                <div class="faq__accordion-dropdown-inner">
                                    <div class="faq__accordion-dropdown-content">
                                        Текст-заполнитель — это текст, который имеет некоторые характеристики реального
                                        письменного текста, но является случайным набором слов или сгенерирован иным
                                        образом.
                                        Его можно использовать для отображения образца шрифтов, создания текста для
                                        тестирования
                                        или обхода спам-фильтра.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="faq__accordion-icon">

                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</section>