<footer class="page-footer">
    <div class="page-footer__content">
        <div class="page-footer__top-row">
            <div class="page-footer__logo-wrapper">
                <a href="#" class="page-footer__logo">
                    <img src="/images/logo.svg" alt="" class="page-footer__logo-image" width="253" height="61">
                </a>
                <div class="page-footer__requisites">
                    <p>
                        420500 Республика Татарстан, Верхнеуслонский Район г. Иннополис, ул. Университетская д.7
                    </p>
                    <p>
                        420059 Республика Татарстан,
                    </p>
                    <p>
                        г.Казань, ул. Военный Городок-2, д 142/1
                    </p>
                </div>
            </div>
            <div class="page-footer__services">
                <ul class="page-footer__services-list">
                    <li class="page-footer__services-list-item">
                        <a href="#" class="page-footer__services-link">
                            Промышленность
                        </a>
                        <ul class="page-footer__services-categories-list">
                            <li class="page-footer__services-categories-list-item">
                                <a href="#" class="page-footer__services-categories-link">
                                    Литейное производство
                                </a>
                            </li>
                            <li class="page-footer__services-categories-list-item">
                                <a href="#" class="page-footer__services-categories-link">
                                    Сварочное производство
                                </a>
                            </li>
                            <li class="page-footer__services-categories-list-item">
                                <a href="#" class="page-footer__services-categories-link">
                                    Паллитирование
                                </a>
                            </li>
                            <li class="page-footer__services-categories-list-item">
                                <a href="#" class="page-footer__services-categories-link">
                                    Фрезерование
                                </a>
                            </li>
                            <li class="page-footer__services-categories-list-item">
                                <a href="#" class="page-footer__services-categories-link">
                                    Загрузка/выгрузка
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="page-footer__services-list-item">
                        <a href="#" class="page-footer__services-link">
                            Наука и образование
                        </a>
                        <ul class="page-footer__services-categories-list">
                            <li class="page-footer__services-categories-list-item">
                                <a href="#" class="page-footer__services-categories-link">
                                    Профессионалитет
                                </a>
                            </li>
                            <li class="page-footer__services-categories-list-item">
                                <a href="#" class="page-footer__services-categories-link">
                                    База
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="page-footer__services-list-item">
                        <a href="#" class="page-footer__services-link">
                            Индивидуальные решения
                        </a>
                    </li>
                    <li class="page-footer__services-list-item">
                        <a href="#" class="page-footer__services-link">
                            Обучение
                        </a>
                    </li>
                </ul>
            </div>
            <div class="page-footer__nav">
                <ul class="page-footer__nav-list">
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            О компании
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Отзывы
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Сертификаты
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Новости
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Часто задаваемые вопросы
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Вакансии
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Бренды
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Контакты
                        </a>
                    </li>
                </ul>
            </div>
            <div class="page-footer__contacts">
                <ul class="page-footer__contacts-list">
                    <li class="page-footer__contacts-list-item">
                        <a href="tel:+78009999999" class="page-footer__contacts-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#phone"></use>
                            </svg>
                            8 (800) 999-99-99
                        </a>
                    </li>
                    <li class="page-footer__contacts-list-item">
                        <a href="tel:+78435283032" class="page-footer__contacts-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#phone"></use>
                            </svg>
                            +7 (843) 528-30-32
                        </a>
                    </li>
                    <li class="page-footer__contacts-list-item">
                        <a href="mailto:info@vrm.group" class="page-footer__contacts-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#mail"></use>
                            </svg>
                            info@vrm.group
                        </a>
                    </li>
                    <li class="page-footer__contacts-list-item">
                        <div class="page-footer__contacts-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#clock"></use>
                            </svg>
                            Режим работы: 09:00 - 18:00
                        </div>
                    </li>
                </ul>
                <ul class="page-footer__social-list">
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#youtube"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-footer__social-list-item">
                        <a href="#" class="page-footer__social-link">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#whatsapp"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <a href="#callback-modal" class="btn page-footer__callback-btn">
                    Оставить заявку
                </a>
            </div>
        </div>
        <div class="page-footer__bottom-row">
            <div class="page-footer__copyright">
                © 2019 VRM Group, ООО "ВРМ ГРУПП"
            </div>
            <a href="#" class="page-footer__policy">
                Политика конфиденциальности
            </a>
            <a href="#" class="page-footer__made-by">
                <img src="/images/klatcen.svg" alt="" class="page-footer__made-by-logo">
                Разработка сайта под ключ
            </a>
        </div>
    </div>
</footer>