<div class="gallery-slider">
    <div class="gallery-slider__wrapper">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="/images/gallery-slider/1.webp" class="gallery-slider__card" data-fancybox="gallery-slider">
                        <img src="/images/gallery-slider/1.webp" alt="" class="gallery-slider__card-image">
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ&ab_channel=Jacob%2BKatieSchwarz"
                        class="gallery-slider__card" data-fancybox="gallery-slider">
                        <img src="/images/gallery-slider/2.webp" alt="" class="gallery-slider__card-image">
                        <div class="gallery-slider__card-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="95" height="95" viewBox="0 0 95 95">
                                <path d="M65.7058 47.1506L36 64.3013V30L65.7058 47.1506Z" />
                            </svg>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="/images/gallery-slider/3.webp" class="gallery-slider__card" data-fancybox="gallery-slider">
                        <img src="/images/gallery-slider/3.webp" alt="" class="gallery-slider__card-image">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="gallery-slider__controls">


        <div class="gallery-slider__arrows">
            <button class="gallery-slider__arrow gallery-slider__arrow--prev" type="button">
                <svg width="56" height="56" viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M29 36H28.5464L23 28.0003L28.5464 20H29V22.8459L25.4263 28.0003L29 33.1547V36Z" />
                </svg>
            </button>
            <button class="gallery-slider__arrow gallery-slider__arrow--next" type="button">
                <svg width="56" height="56" viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M26.9999 36H27.4535L32.9999 28.0003L27.4535 20H26.9999V22.8459L30.5736 28.0003L26.9999 33.1547V36Z" />
                </svg>
            </button>
        </div>
        <div class="gallery-slider__pagination">

        </div>
    </div>
</div>