<header class="page-header">
    <div class="page-header__content">
        <div class="page-header__top-row">
            <a href="/" class="page-header__logo">
                <img src="/images/logo.svg" alt="" class="page-header__logo-image" width="253" height="61">
            </a>
            <div class="page-header__only-desktop">


                <div class="page-header__contacts">
                    <a href="tel:88009999999" class="page-header__contacts-link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#phone"></use>
                        </svg>
                        8(800) 999-99-99
                    </a>
                    <a href="mailto:info@vrm.group" class="page-header__contacts-link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#mail"></use>
                        </svg>
                        info@vrm.group
                    </a>
                </div>
                <div class="page-header__social">
                    <ul class="page-header__social-list">
                        <li class="page-header__social-list-item">
                            <a href="#" class="page-header__social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#youtube"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="page-header__social-list-item">
                            <a href="#" class="page-header__social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#whatsapp"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="page-header__social-list-item">
                            <a href="#" class="page-header__social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#search"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <a href="#callback-modal" class="btn page-header__callback-link">
                    Оставить заявку
                </a>
                <a href="#" class="page-header__cart">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#cart"></use>
                    </svg>
                </a>
            </div>
            <a href="tel:+78009999999" class="page-header__mobile-phone">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#phone-large"></use>
                </svg>
            </a>
            <button class="page-header__burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div class="page-header__menu">
            <nav class="page-header__nav">
                <ul class="page-header__nav-list">
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-catalog">
                                <use xlink:href="#catalog"></use>
                            </svg>
                            Каталог
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Индивидуальные решения
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Обучение
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Проекты
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Бренды
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow">
                                <use xlink:href="#nav-arrow"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            О компании
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow">
                                <use xlink:href="#nav-arrow"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>