<div class="overlay">

</div>
<header class="page-header">
    <div class="page-header__content">
        <div class="page-header__top-row">
            <a href="/" class="page-header__logo">
                <img src="/images/logo.svg" alt="" class="page-header__logo-image" width="253" height="61">
            </a>
            <div class="page-header__only-desktop">


                <div class="page-header__contacts">
                    <a href="tel:88009999999" class="page-header__contacts-link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#phone"></use>
                        </svg>
                        8(800) 999-99-99
                    </a>
                    <a href="mailto:info@vrm.group" class="page-header__contacts-link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#mail"></use>
                        </svg>
                        info@vrm.group
                    </a>
                </div>
                <div class="page-header__social">
                    <ul class="page-header__social-list">
                        <li class="page-header__social-list-item">
                            <a href="#" class="page-header__social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#youtube"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="page-header__social-list-item">
                            <a href="#" class="page-header__social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#whatsapp"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="page-header__social-list-item">
                            <a href="#" class="page-header__social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#search"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <a href="#callback-modal" class="btn page-header__callback-link">
                    Оставить заявку
                </a>
                <a href="#" class="page-header__cart">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#cart"></use>
                    </svg>
                </a>
            </div>
            <a href="tel:+78009999999" class="page-header__mobile-phone">
                <svg width="14" height="14" aria-hidden="true">
                    <use xlink:href="#phone-large"></use>
                </svg>
            </a>
            <button class="page-header__burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div class="page-header__menu">
            <div class="page-header__menu-top-row">
                <a href="/" class="page-header__menu-logo">
                    <img src="/images/logo.svg" alt="" class="page-header__menu-logo-image" width="253" height="61">
                </a>
                <button class="page-header__menu-close">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#modal-close"></use>
                    </svg>
                </button>
            </div>


            <nav class="page-header__nav">
                <ul class="page-header__nav-list">
                    <li class="page-header__nav-list-item page-header__nav-list-item--catalog">
                        <a href="#" class="page-header__nav-link">
                            <svg width="14" height="14" aria-hidden="true" class="icon-catalog">
                                <use xlink:href="#catalog"></use>
                            </svg>
                            Каталог
                        </a>
                        <div class="page-header__catalog-dropdown">
                            <div class="page-header__catalog-dropdown-inner">
                                <div class="page-header__catalog-dropdown-inner-content">
                                    <div class="page-header__catalog-categories">
                                        <ul class="page-header__catalog-main-categories-list">
                                            <li class="page-header__catalog-main-categories-list-item">
                                                <a href="#" class="page-header__catalog-main-categories-card">
                                                    <div class="page-header__catalog-main-categories-card-bg">
                                                        <img src="/images/header-catalog-categories/1.webp" alt=""
                                                            class="page-header__catalog-main-categories-card-bg-image">
                                                    </div>
                                                    <div class="page-header__catalog-main-categories-card-content">


                                                        <h3 class="page-header__catalog-main-categories-card-title">
                                                            Промышленность
                                                        </h3>
                                                        <div class="page-header__catalog-main-categories-card-arrow">
                                                            <svg width="14" height="14" aria-hidden="true"
                                                                class="icon-catalog">
                                                                <use xlink:href="#simple-arrow-right"></use>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="page-header__catalog-submenu">
                                                    <div class="page-header__catalog-submenu-inner">
                                                        <ul class="page-header__catalog-submenu-list">
                                                            <li class="page-header__catalog-submenu-list-item">
                                                                <a href="#" class="page-header__catalog-submenu-link">
                                                                    Литейная промышленность
                                                                    <div
                                                                        class="page-header__catalog-submenu-link-arrow">
                                                                        <svg width="14" height="14" aria-hidden="true"
                                                                            class="icon-catalog">
                                                                            <use xlink:href="#simple-arrow-right">
                                                                            </use>
                                                                        </svg>
                                                                    </div>
                                                                </a>
                                                                <div class="page-header__catalog-submenu">
                                                                    <div class="page-header__catalog-submenu-inner">
                                                                        <ul class="page-header__catalog-submenu-list">
                                                                            <li
                                                                                class="page-header__catalog-submenu-list-item">
                                                                                <a href="#"
                                                                                    class="page-header__catalog-submenu-link">
                                                                                    Литьевые термопластавтоматы
                                                                                    <div
                                                                                        class="page-header__catalog-submenu-link-arrow">
                                                                                        <svg width="14" height="14"
                                                                                            aria-hidden="true"
                                                                                            class="icon-catalog">
                                                                                            <use
                                                                                                xlink:href="#simple-arrow-right">
                                                                                            </use>
                                                                                        </svg>
                                                                                    </div>
                                                                                </a>
                                                                                <div
                                                                                    class="page-header__catalog-submenu">
                                                                                    <div
                                                                                        class="page-header__catalog-submenu-inner">
                                                                                        <ul
                                                                                            class="page-header__catalog-submenu-list">
                                                                                            <li
                                                                                                class="page-header__catalog-submenu-list-item">
                                                                                                <a href="#"
                                                                                                    class="page-header__catalog-submenu-link">
                                                                                                    Подподкатегория
                                                                                                    1
                                                                                                    <div
                                                                                                        class="page-header__catalog-submenu-link-arrow">
                                                                                                        <svg width="14"
                                                                                                            height="14"
                                                                                                            aria-hidden="true"
                                                                                                            class="icon-catalog">
                                                                                                            <use
                                                                                                                xlink:href="#simple-arrow-right">
                                                                                                            </use>
                                                                                                        </svg>
                                                                                                    </div>
                                                                                                </a>
                                                                                            </li>
                                                                                            <li
                                                                                                class="page-header__catalog-submenu-list-item">
                                                                                                <a href="#"
                                                                                                    class="page-header__catalog-submenu-link">
                                                                                                    Подподкатегория
                                                                                                    1
                                                                                                    <div
                                                                                                        class="page-header__catalog-submenu-link-arrow">
                                                                                                        <svg width="14"
                                                                                                            height="14"
                                                                                                            aria-hidden="true"
                                                                                                            class="icon-catalog">
                                                                                                            <use
                                                                                                                xlink:href="#simple-arrow-right">
                                                                                                            </use>
                                                                                                        </svg>
                                                                                                    </div>
                                                                                                </a>
                                                                                            </li>
                                                                                            <li
                                                                                                class="page-header__catalog-submenu-list-item">
                                                                                                <a href="#"
                                                                                                    class="page-header__catalog-submenu-link">
                                                                                                    Подподкатегория
                                                                                                    1
                                                                                                    <div
                                                                                                        class="page-header__catalog-submenu-link-arrow">
                                                                                                        <svg width="14"
                                                                                                            height="14"
                                                                                                            aria-hidden="true"
                                                                                                            class="icon-catalog">
                                                                                                            <use
                                                                                                                xlink:href="#simple-arrow-right">
                                                                                                            </use>
                                                                                                        </svg>
                                                                                                    </div>
                                                                                                </a>
                                                                                            </li>

                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                            <li
                                                                                class="page-header__catalog-submenu-list-item">
                                                                                <a href="#"
                                                                                    class="page-header__catalog-submenu-link">
                                                                                    Литье под давлением
                                                                                    <div
                                                                                        class="page-header__catalog-submenu-link-arrow">
                                                                                        <svg width="14" height="14"
                                                                                            aria-hidden="true"
                                                                                            class="icon-catalog">
                                                                                            <use
                                                                                                xlink:href="#simple-arrow-right">
                                                                                            </use>
                                                                                        </svg>
                                                                                    </div>
                                                                                </a>
                                                                                <div
                                                                                    class="page-header__catalog-submenu">
                                                                                    <div
                                                                                        class="page-header__catalog-submenu-inner">
                                                                                        <ul
                                                                                            class="page-header__catalog-submenu-list">
                                                                                            <li
                                                                                                class="page-header__catalog-submenu-list-item">
                                                                                                <a href="#"
                                                                                                    class="page-header__catalog-submenu-link">
                                                                                                    Подподкатегория
                                                                                                    1
                                                                                                    <div
                                                                                                        class="page-header__catalog-submenu-link-arrow">
                                                                                                        <svg width="14"
                                                                                                            height="14"
                                                                                                            aria-hidden="true"
                                                                                                            class="icon-catalog">
                                                                                                            <use
                                                                                                                xlink:href="#simple-arrow-right">
                                                                                                            </use>
                                                                                                        </svg>
                                                                                                    </div>
                                                                                                </a>
                                                                                            </li>
                                                                                            <li
                                                                                                class="page-header__catalog-submenu-list-item">
                                                                                                <a href="#"
                                                                                                    class="page-header__catalog-submenu-link">
                                                                                                    Подподкатегория
                                                                                                    1
                                                                                                    <div
                                                                                                        class="page-header__catalog-submenu-link-arrow">
                                                                                                        <svg width="14"
                                                                                                            height="14"
                                                                                                            aria-hidden="true"
                                                                                                            class="icon-catalog">
                                                                                                            <use
                                                                                                                xlink:href="#simple-arrow-right">
                                                                                                            </use>
                                                                                                        </svg>
                                                                                                    </div>
                                                                                                </a>
                                                                                            </li>
                                                                                            <li
                                                                                                class="page-header__catalog-submenu-list-item">
                                                                                                <a href="#"
                                                                                                    class="page-header__catalog-submenu-link">
                                                                                                    Подподкатегория
                                                                                                    1
                                                                                                    <div
                                                                                                        class="page-header__catalog-submenu-link-arrow">
                                                                                                        <svg width="14"
                                                                                                            height="14"
                                                                                                            aria-hidden="true"
                                                                                                            class="icon-catalog">
                                                                                                            <use
                                                                                                                xlink:href="#simple-arrow-right">
                                                                                                            </use>
                                                                                                        </svg>
                                                                                                    </div>
                                                                                                </a>
                                                                                            </li>

                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                            <li
                                                                                class="page-header__catalog-submenu-list-item">
                                                                                <a href="#"
                                                                                    class="page-header__catalog-submenu-link">
                                                                                    Дополнительное оборудование
                                                                                    <div
                                                                                        class="page-header__catalog-submenu-link-arrow">
                                                                                        <svg width="14" height="14"
                                                                                            aria-hidden="true"
                                                                                            class="icon-catalog">
                                                                                            <use
                                                                                                xlink:href="#simple-arrow-right">
                                                                                            </use>
                                                                                        </svg>
                                                                                    </div>
                                                                                </a>
                                                                                <div
                                                                                    class="page-header__catalog-submenu">
                                                                                    <div
                                                                                        class="page-header__catalog-submenu-inner">
                                                                                        <ul
                                                                                            class="page-header__catalog-submenu-list">
                                                                                            <li
                                                                                                class="page-header__catalog-submenu-list-item">
                                                                                                <a href="#"
                                                                                                    class="page-header__catalog-submenu-link">
                                                                                                    Подподкатегория
                                                                                                    1
                                                                                                    <div
                                                                                                        class="page-header__catalog-submenu-link-arrow">
                                                                                                        <svg width="14"
                                                                                                            height="14"
                                                                                                            aria-hidden="true"
                                                                                                            class="icon-catalog">
                                                                                                            <use
                                                                                                                xlink:href="#simple-arrow-right">
                                                                                                            </use>
                                                                                                        </svg>
                                                                                                    </div>
                                                                                                </a>
                                                                                            </li>
                                                                                            <li
                                                                                                class="page-header__catalog-submenu-list-item">
                                                                                                <a href="#"
                                                                                                    class="page-header__catalog-submenu-link">
                                                                                                    Подподкатегория
                                                                                                    1
                                                                                                    <div
                                                                                                        class="page-header__catalog-submenu-link-arrow">
                                                                                                        <svg width="14"
                                                                                                            height="14"
                                                                                                            aria-hidden="true"
                                                                                                            class="icon-catalog">
                                                                                                            <use
                                                                                                                xlink:href="#simple-arrow-right">
                                                                                                            </use>
                                                                                                        </svg>
                                                                                                    </div>
                                                                                                </a>
                                                                                            </li>
                                                                                            <li
                                                                                                class="page-header__catalog-submenu-list-item">
                                                                                                <a href="#"
                                                                                                    class="page-header__catalog-submenu-link">
                                                                                                    Подподкатегория
                                                                                                    1
                                                                                                    <div
                                                                                                        class="page-header__catalog-submenu-link-arrow">
                                                                                                        <svg width="14"
                                                                                                            height="14"
                                                                                                            aria-hidden="true"
                                                                                                            class="icon-catalog">
                                                                                                            <use
                                                                                                                xlink:href="#simple-arrow-right">
                                                                                                            </use>
                                                                                                        </svg>
                                                                                                    </div>
                                                                                                </a>
                                                                                            </li>

                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </li>

                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="page-header__catalog-main-categories-list-item">
                                                <a href="#" class="page-header__catalog-main-categories-card">
                                                    <div class="page-header__catalog-main-categories-card-bg">
                                                        <img src="/images/header-catalog-categories/2.webp" alt=""
                                                            class="page-header__catalog-main-categories-card-bg-image">
                                                    </div>
                                                    <div class="page-header__catalog-main-categories-card-content">
                                                        <h3 class="page-header__catalog-main-categories-card-title">
                                                            Наука и образование
                                                        </h3>
                                                        <div class="page-header__catalog-main-categories-card-arrow">
                                                            <svg width="14" height="14" aria-hidden="true"
                                                                class="icon-catalog">
                                                                <use xlink:href="#simple-arrow-right"></use>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="page-header__catalog-submenu">
                                                    <div class="page-header__catalog-submenu-inner">
                                                        <ul class="page-header__catalog-submenu-list">
                                                            <li class="page-header__catalog-submenu-list-item">
                                                                <a href="#" class="page-header__catalog-submenu-link">
                                                                    Базовое
                                                                    <div
                                                                        class="page-header__catalog-submenu-link-arrow">
                                                                        <svg width="14" height="14" aria-hidden="true"
                                                                            class="icon-catalog">
                                                                            <use xlink:href="#simple-arrow-right">
                                                                            </use>
                                                                        </svg>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="page-header__catalog-submenu-list-item">
                                                                <a href="#" class="page-header__catalog-submenu-link">
                                                                    Профессионалитет
                                                                    <div
                                                                        class="page-header__catalog-submenu-link-arrow">
                                                                        <svg width="14" height="14" aria-hidden="true"
                                                                            class="icon-catalog">
                                                                            <use xlink:href="#simple-arrow-right">
                                                                            </use>
                                                                        </svg>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="page-header__catalog-main-categories-list-item">
                                                <a href="#" class="page-header__catalog-main-categories-card">
                                                    <div class="page-header__catalog-main-categories-card-bg">
                                                        <img src="/images/header-catalog-categories/3.webp" alt=""
                                                            class="page-header__catalog-main-categories-card-bg-image">
                                                    </div>
                                                    <div class="page-header__catalog-main-categories-card-content">
                                                        <h3 class="page-header__catalog-main-categories-card-title">
                                                            Каталог роботов
                                                        </h3>
                                                        <div class="page-header__catalog-main-categories-card-arrow">
                                                            <svg width="14" height="14" aria-hidden="true"
                                                                class="icon-catalog">
                                                                <use xlink:href="#simple-arrow-right"></use>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="page-header__catalog-submenu">
                                                    <div class="page-header__catalog-submenu-inner">
                                                        <ul class="page-header__catalog-submenu-list">
                                                            <li class="page-header__catalog-submenu-list-item">
                                                                <a href="#" class="page-header__catalog-submenu-link">
                                                                    Промышленные роботы
                                                                    <div
                                                                        class="page-header__catalog-submenu-link-arrow">
                                                                        <svg width="14" height="14" aria-hidden="true"
                                                                            class="icon-catalog">
                                                                            <use xlink:href="#simple-arrow-right">
                                                                            </use>
                                                                        </svg>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li class="page-header__catalog-submenu-list-item">
                                                                <a href="#" class="page-header__catalog-submenu-link">
                                                                    Коллаборативные роботы
                                                                    <div
                                                                        class="page-header__catalog-submenu-link-arrow">
                                                                        <svg width="14" height="14" aria-hidden="true"
                                                                            class="icon-catalog">
                                                                            <use xlink:href="#simple-arrow-right">
                                                                            </use>
                                                                        </svg>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Индивидуальные решения
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Обучение
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Проекты
                        </a>
                    </li>
                    <li class="page-header__nav-list-item page-header__nav-list-item--has-dropdown">
                        <a href="#" class="page-header__nav-link">
                            Бренды
                            <svg width="14" height="14" aria-hidden="true" class="icon-arrow">
                                <use xlink:href="#nav-arrow"></use>
                            </svg>
                        </a>
                        <div class="page-header__brands-dropdown">
                            <div class="page-header__brands-dropdown-inner">
                                <ul class="page-header__brands-list">
                                    <li class="page-header__brands-list-item">
                                        <a href="#" class="page-header__brands-card">
                                            <div class="page-header__brands-image-container">
                                                <img src="/images/header-brands/1.webp" alt=""
                                                    class="page-header__brands-image">
                                            </div>
                                            Роботы бренда Kuka
                                            <div class="page-header__brands-arrow">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow">
                                                    <use xlink:href="#simple-arrow-right"></use>
                                                </svg>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="page-header__brands-list-item">
                                        <a href="#" class="page-header__brands-card">
                                            <div class="page-header__brands-image-container">
                                                <img src="/images/header-brands/2.webp" alt=""
                                                    class="page-header__brands-image">
                                            </div>
                                            Роботы бренда Kuka
                                            <div class="page-header__brands-arrow">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow">
                                                    <use xlink:href="#simple-arrow-right"></use>
                                                </svg>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="page-header__brands-list-item">
                                        <a href="#" class="page-header__brands-card">
                                            <div class="page-header__brands-image-container">
                                                <img src="/images/header-brands/3.webp" alt=""
                                                    class="page-header__brands-image">
                                            </div>
                                            Роботы бренда Kuka
                                            <div class="page-header__brands-arrow">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow">
                                                    <use xlink:href="#simple-arrow-right"></use>
                                                </svg>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="page-header__brands-list-item">
                                        <a href="#" class="page-header__brands-card">
                                            <div class="page-header__brands-image-container">
                                                <img src="/images/header-brands/4.webp" alt=""
                                                    class="page-header__brands-image">
                                            </div>
                                            Роботы бренда Kuka
                                            <div class="page-header__brands-arrow">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow">
                                                    <use xlink:href="#simple-arrow-right"></use>
                                                </svg>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="page-header__brands-list-item">
                                        <a href="#" class="page-header__brands-card">
                                            <div class="page-header__brands-image-container">
                                                <img src="/images/header-brands/5.webp" alt=""
                                                    class="page-header__brands-image">
                                            </div>
                                            Роботы бренда Kuka
                                            <div class="page-header__brands-arrow">
                                                <svg width="14" height="14" aria-hidden="true" class="icon-arrow">
                                                    <use xlink:href="#simple-arrow-right"></use>
                                                </svg>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            О компании
                            {{!-- <svg width="14" height="14" aria-hidden="true" class="icon-arrow">
                                <use xlink:href="#nav-arrow"></use>
                            </svg> --}}
                        </a>
                    </li>
                    <li class="page-header__nav-list-item">
                        <a href="#" class="page-header__nav-link">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="page-header__menu-bottom">
                <div class="page-header__contacts">
                    <a href="tel:88009999999" class="page-header__contacts-link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#phone"></use>
                        </svg>
                        8(800) 999-99-99
                    </a>
                    <a href="mailto:info@vrm.group" class="page-header__contacts-link">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#mail"></use>
                        </svg>
                        info@vrm.group
                    </a>
                </div>
                <div class="page-header__social">
                    <ul class="page-header__social-list">
                        <li class="page-header__social-list-item">
                            <a href="#" class="page-header__social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#youtube"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="page-header__social-list-item">
                            <a href="#" class="page-header__social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#whatsapp"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="page-header__social-list-item">
                            <a href="#" class="page-header__social-link">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#search"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <a href="#callback-modal" class="btn page-header__callback-link">
                    Оставить заявку
                </a>
                <a href="#" class="page-header__cart">
                    <svg width="14" height="14" aria-hidden="true">
                        <use xlink:href="#cart"></use>
                    </svg>
                </a>
            </div>

        </div>
    </div>
</header>