<section class="history">
    <div class="history__content">
        <h2 class="history__heading">
            История компании
        </h2>
        <div class="history__row">
            <ul class="history__list">
                <li class="history__list-item">
                    <div class="history__card">
                        <div class="history__card-year">
                            2009
                        </div>
                        <h3 class="history__card-title">
                            Основание
                        </h3>
                        <div class="history__card-text">
                            Компания занималась
                            разработкой программного
                            обеспечения
                        </div>
                    </div>
                </li>
                <li class="history__list-item">
                    <div class="history__card">
                        <div class="history__card-year">
                            2014
                        </div>
                        <h3 class="history__card-title">
                            Первый робот
                        </h3>
                        <div class="history__card-text">
                            Наш первый проект по роботизации предприятия
                        </div>
                    </div>
                </li>
                <li class="history__list-item">
                    <div class="history__card">
                        <div class="history__card-year">
                            2016
                        </div>
                        <h3 class="history__card-title">
                            Специализация
                        </h3>
                        <div class="history__card-text">
                            Полный фокус на роботизации и автоматизации тех. процессов
                        </div>
                    </div>
                </li>
                <li class="history__list-item">
                    <div class="history__card">
                        <div class="history__card-year">
                            2018
                        </div>
                        <h3 class="history__card-title">
                            Обучение
                        </h3>
                        <div class="history__card-text">
                            Мы начали готовить профессиональные кадры для робототехнической
                            отрасли России
                        </div>
                    </div>
                </li>
                <li class="history__list-item">
                    <div class="history__card">
                        <div class="history__card-year">
                            2022
                        </div>
                        <h3 class="history__card-title">
                            Достижение
                        </h3>
                        <div class="history__card-text">
                            Один из лидеров в области автоматизации литья под высоким давлением
                        </div>
                    </div>
                </li>
            </ul>
            <div class="history__image-wrapper">
                <img src="/images/history.webp" alt="" class="history__image">
            </div>
        </div>
    </div>
</section>