<section class="home-news">
    <div class="home-news__content">
        <h2 class="home-news__heading">
            Новости
        </h2>
        <div class="home-news__slider">
            <div class="home-news__slider-wrapper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="news-card">
                                <div class="news-card__image-container">
                                    <img src="/images/home-news/1.webp" alt="" class="news-card__image">
                                </div>
                                <h3 class="news-card__title">
                                    Стратегическая сессия «Развитие всероссийского чемпионатного движения по
                                    профессиональному мастерству»
                                </h3>
                                <div class="news-card__bottom">
                                    <div class="news-card__date">
                                        12.04.24
                                    </div>
                                    <div class="news-card__time">
                                        1 мин
                                    </div>
                                    <div class="news-card__arrow">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#simple-arrow-right"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="news-card">
                                <div class=" news-card__image-container">
                                    <img src="/images/home-news/2.webp" alt="" class="news-card__image">
                                </div>
                                <h3 class="news-card__title">
                                    ЛИТМАШ 2024
                                </h3>
                                <div class="news-card__bottom">
                                    <div class="news-card__date">
                                        12.04.24
                                    </div>
                                    <div class="news-card__time">
                                        1 мин
                                    </div>
                                    <div class="news-card__arrow">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#simple-arrow-right"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="news-card">
                                <div class=" news-card__image-container">
                                    <img src="/images/home-news/3.webp" alt="" class="news-card__image">
                                </div>
                                <h3 class="news-card__title">
                                    Металлообработка 2024
                                </h3>
                                <div class="news-card__bottom">
                                    <div class="news-card__date">
                                        12.04.24
                                    </div>
                                    <div class="news-card__time">
                                        1 мин
                                    </div>
                                    <div class="news-card__arrow">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#simple-arrow-right"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="news-card">
                                <div class=" news-card__image-container">
                                    <img src="/images/home-news/4.webp" alt="" class="news-card__image">
                                </div>
                                <h3 class="news-card__title">
                                    XV Международный экономический форум«Россия — Исламский мир: KAZANFORUM»
                                </h3>
                                <div class="news-card__bottom">
                                    <div class="news-card__date">
                                        12.04.24
                                    </div>
                                    <div class="news-card__time">
                                        1 мин
                                    </div>
                                    <div class="news-card__arrow">
                                        <svg width="14" height="14" aria-hidden="true">
                                            <use xlink:href="#simple-arrow-right"></use>
                                        </svg>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-news__slider-controls">
                <div class="home-news__slider-arrows">
                    <button class="home-news__slider-arrow home-news__slider-arrow--prev" type="button">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-left"></use>
                        </svg>
                    </button>
                    <button class="home-news__slider-arrow home-news__slider-arrow--next" type="button">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-right"></use>
                        </svg>
                    </button>
                </div>
                <div class="home-news__slider-pagination">

                </div>
            </div>
        </div>
    </div>
</section>