<section class="individual-solutions">
    <div class="individual-solutions__main-wrapper">
        <div class="individual-solutions__main-content">
            <div class="breadcrumbs individual-solutions__breadcrumbs">
                <a href="#">
                    Главная
                </a>
                <a href="#" class="active">
                    Индивидуальные решения
                </a>
            </div>
        </div>
    </div>
    <div class="individual-solutions__card">
        <div class="individual-solutions__card-bg">
            <picture>
                <source srcset="/images/individual-solutions-mobile.webp" media="(max-width: 640px)" />
                <img src="/images/individual-solutions.webp" alt="MDN" class="individual-solutions__card-bg-image" />
            </picture>
        </div>
        <div class="individual-solutions__card-inner">
            <h1 class="large-heading individual-solutions__card-heading">
                Индивидуальные решения
            </h1>
            <div class="individual-solutions__card-text">
                Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но
                является случайным набором слов или сгенерирован иным образом. Его можно использовать для отображения
                образца шрифтов, создания текста для тестирования или обхода спам-фильтра.
            </div>
        </div>
    </div>
</section>