<section class="catalog">
    <div class="catalog__content">
        <div class="breadcrumbs catalog__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <a href="#" class="active">
                Промышленность
            </a>


        </div>
        <h1 class="large-heading catalog__heading">
            Промышленность
        </h1>
        <div class="catalog__categories catalog__categories--industry">
            <ul class="catalog__categories-list catalog__categories-list--industry">
                <li class="catalog__categories-list-item catalog__categories-list-item--large">
                    <a href="#" class="catalog__categories-card ">

                        <picture>
                            <source srcset="/images/industry/1-mobile.webp" media="(max-width: 640px)" />
                            <img src="/images/industry/1.webp" alt="" class="catalog__categories-card-image" />
                        </picture>
                        <div class="catalog__categories-card-content">
                            <h3 class="catalog__categories-card-title">
                                Литейная промышленность
                            </h3>

                            <div class="catalog__categories-card-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#simple-arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="catalog__categories-list-item">
                    <a href="#" class="catalog__categories-card ">
                        <img src="/images/industry/2.webp" alt="" class="catalog__categories-card-image">
                        <div class="catalog__categories-card-content">
                            <h3 class="catalog__categories-card-title">
                                Загрузка/выгрузка
                            </h3>

                            <div class="catalog__categories-card-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#simple-arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="catalog__categories-list-item">
                    <a href="#" class="catalog__categories-card ">
                        <img src="/images/industry/3.webp" alt="" class="catalog__categories-card-image">
                        <div class="catalog__categories-card-content">
                            <h3 class="catalog__categories-card-title">
                                Фрезерование
                            </h3>

                            <div class="catalog__categories-card-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#simple-arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="catalog__categories-list-item">
                    <a href="#" class="catalog__categories-card ">
                        <img src="/images/industry/4.webp" alt="" class="catalog__categories-card-image">
                        <div class="catalog__categories-card-content">
                            <h3 class="catalog__categories-card-title">
                                Паллетирование
                            </h3>

                            <div class="catalog__categories-card-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#simple-arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="catalog__categories-list-item">
                    <a href="#" class="catalog__categories-card">
                        <img src="/images/industry/5.webp" alt="" class="catalog__categories-card-image">
                        <div class="catalog__categories-card-content">
                            <h3 class="catalog__categories-card-title">
                                Сварка
                            </h3>

                            <div class="catalog__categories-card-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#simple-arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>


        <ul class="catalog__list">
            <li class="catalog__list-item">
                <a href="#" class="robot-card robot-card--green">
                    <div class="robot-card__image-wrapper">
                        <img src="/images/robots-catalog/7.webp" alt="" class="robot-card__image">
                    </div>
                    <h3 class="robot-card__title">
                        Промышленный робот KUKA KR 8
                    </h3>
                    <div class="robot-card__price">
                        от 2 850 000₽
                    </div>
                    <div class="robot-card__arrow">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#simple-arrow-right"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="catalog__list-item">
                <a href="#" class="robot-card robot-card--green">
                    <div class="robot-card__image-wrapper">
                        <img src="/images/robots-catalog/8.webp" alt="" class="robot-card__image">
                    </div>
                    <h3 class="robot-card__title">
                        Промышленный робот KUKA KR 8, название в три строки
                    </h3>
                    <div class="robot-card__price">
                        от 2 850 000₽
                    </div>
                    <div class="robot-card__arrow">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#simple-arrow-right"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="catalog__list-item">
                <a href="#" class="robot-card robot-card--green">
                    <div class="robot-card__image-wrapper">
                        <img src="/images/robots-catalog/4.webp" alt="" class="robot-card__image">
                    </div>
                    <h3 class="robot-card__title">
                        Промышленный робот KUKA KR 8
                    </h3>
                    <div class="robot-card__price">
                        от 2 850 000₽
                    </div>
                    <div class="robot-card__arrow">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#simple-arrow-right"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="catalog__list-item">
                <a href="#" class="robot-card robot-card--green">
                    <div class="robot-card__image-wrapper">
                        <img src="/images/robots-catalog/9.webp" alt="" class="robot-card__image">
                    </div>
                    <h3 class="robot-card__title">
                        Промышленный робот KUKA KR 8
                    </h3>
                    <div class="robot-card__price">
                        от 2 850 000₽
                    </div>
                    <div class="robot-card__arrow">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#simple-arrow-right"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="catalog__list-item">
                <a href="#" class="robot-card robot-card--green">
                    <div class="robot-card__image-wrapper">
                        <img src="/images/robots-catalog/1.webp" alt="" class="robot-card__image">
                    </div>
                    <h3 class="robot-card__title">
                        Промышленный робот KUKA KR 8, название в три строки
                    </h3>
                    <div class="robot-card__price">
                        от 2 850 000₽
                    </div>
                    <div class="robot-card__arrow">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#simple-arrow-right"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="catalog__list-item">
                <a href="#" class="robot-card">
                    <div class="robot-card__image-wrapper">
                        <img src="/images/robots-catalog/3.webp" alt="" class="robot-card__image">
                    </div>
                    <h3 class="robot-card__title">
                        Промышленный робот KUKA KR 8
                    </h3>
                    <div class="robot-card__price">
                        от 2 850 000₽
                    </div>
                    <div class="robot-card__arrow">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#simple-arrow-right"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="catalog__list-item">
                <a href="#" class="robot-card">
                    <div class="robot-card__image-wrapper">
                        <img src="/images/robots-catalog/2.webp" alt="" class="robot-card__image">
                    </div>
                    <h3 class="robot-card__title">
                        Промышленный робот KUKA KR 8, название в три строки
                    </h3>
                    <div class="robot-card__price">
                        от 2 850 000₽
                    </div>
                    <div class="robot-card__arrow">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#simple-arrow-right"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="catalog__list-item">
                <a href="#" class="robot-card">
                    <div class="robot-card__image-wrapper">
                        <img src="/images/robots-catalog/1.webp" alt="" class="robot-card__image">
                    </div>
                    <h3 class="robot-card__title">
                        Промышленный робот KUKA KR 8, название в три строки
                    </h3>
                    <div class="robot-card__price">
                        от 2 850 000₽
                    </div>
                    <div class="robot-card__arrow">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#simple-arrow-right"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="catalog__list-item">
                <a href="#" class="robot-card">
                    <div class="robot-card__image-wrapper">
                        <img src="/images/robots-catalog/2.webp" alt="" class="robot-card__image">
                    </div>
                    <h3 class="robot-card__title">
                        Промышленный робот KUKA KR 8, название в три строки
                    </h3>
                    <div class="robot-card__price">
                        от 2 850 000₽
                    </div>
                    <div class="robot-card__arrow">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#simple-arrow-right"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="catalog__list-item">
                <a href="#" class="robot-card">
                    <div class="robot-card__image-wrapper">
                        <img src="/images/robots-catalog/1.webp" alt="" class="robot-card__image">
                    </div>
                    <h3 class="robot-card__title">
                        Промышленный робот KUKA KR 8, название в три строки
                    </h3>
                    <div class="robot-card__price">
                        от 2 850 000₽
                    </div>
                    <div class="robot-card__arrow">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#simple-arrow-right"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="catalog__list-item">
                <a href="#" class="robot-card">
                    <div class="robot-card__image-wrapper">
                        <img src="/images/robots-catalog/3.webp" alt="" class="robot-card__image">
                    </div>
                    <h3 class="robot-card__title">
                        Промышленный робот KUKA KR 8
                    </h3>
                    <div class="robot-card__price">
                        от 2 850 000₽
                    </div>
                    <div class="robot-card__arrow">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#simple-arrow-right"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="catalog__list-item">
                <a href="#" class="robot-card">
                    <div class="robot-card__image-wrapper">
                        <img src="/images/robots-catalog/1.webp" alt="" class="robot-card__image">
                    </div>
                    <h3 class="robot-card__title">
                        Промышленный робот KUKA KR 8, название в три строки
                    </h3>
                    <div class="robot-card__price">
                        от 2 850 000₽
                    </div>
                    <div class="robot-card__arrow">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#simple-arrow-right"></use>
                        </svg>
                    </div>
                </a>
            </li>
        </ul>
        <div class="pagination">
            <ul class="pagination__list">
                <li class="pagination__list-item">
                    <a href="#" class="pagination__link active">
                        1
                    </a>
                </li>
                <li class="pagination__list-item">
                    <a href="#" class="pagination__link">
                        2
                    </a>
                </li>
                <li class="pagination__list-item">
                    <a href="#" class="pagination__link">
                        ...
                    </a>
                </li>
                <li class="pagination__list-item">
                    <a href="#" class="pagination__link">
                        4
                    </a>
                </li>
                <li class="pagination__list-item">
                    <a href="#" class="pagination__link">
                        5
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>