<section class="intro">
    <div class="intro__wrapper">
        <div class="intro__wrapper-bg">
            <div class="intro__wrapper-bg-inner">


                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="intro__wrapper-bg-card">


                                <picture>
                                    <source srcset="/images/intro-robot-mobile.webp" media="(max-width: 640px)" />
                                    <img src="/images/intro-robot.webp" alt="MDN"
                                        class="intro__wrapper-bg-card-image" />
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="intro__wrapper-bg-card">
                                <picture>
                                    <source srcset="/images/intro-robot-mobile.webp" media="(max-width: 640px)" />
                                    <img src="/images/intro-robot.webp" alt="MDN"
                                        class="intro__wrapper-bg-card-image" />
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="intro__wrapper-bg-card">
                                <picture>
                                    <source srcset="/images/intro-robot-mobile.webp" media="(max-width: 640px)" />
                                    <img src="/images/intro-robot.webp" alt="MDN"
                                        class="intro__wrapper-bg-card-image" />
                                </picture>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro__wrapper-inner">
            <div class="intro__text-slider">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="intro__text-slider-card">
                                <h3 class="intro__text-slider-card-title">
                                    Комплексная роботизация производства
                                </h3>
                                <div class="intro__text-slider-card-text">
                                    Подбор и поставка оборудования с последующей интеграцией в работу вашего предприятия
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="intro__text-slider-card">
                                <h3 class="intro__text-slider-card-title">
                                    Комплексная роботизация производства 2
                                </h3>
                                <div class="intro__text-slider-card-text">
                                    Подбор и поставка оборудования с последующей интеграцией в работу вашего предприятия
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="intro__text-slider-card">
                                <h3 class="intro__text-slider-card-title">
                                    Комплексная роботизация производства 3
                                </h3>
                                <div class="intro__text-slider-card-text">
                                    Подбор и поставка оборудования с последующей интеграцией в работу вашего предприятия
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro__pagination">

            </div>
        </div>
    </div>
</section>