<section class="lab">
    <div class="lab__content">
        <div class="breadcrumbs lab__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <a href="#">
                Наука и образование
            </a>
            <a href="#" class="active">
                Профессионалитет
            </a>

        </div>
        <h1 class="large-heading lab__heading">
            Профессионалитет
        </h1>
        <div class="lab__wrapper">
            <h2 class="lab__secondary-heading">
                Лаборатория
            </h2>
            <div class="lab__heading-text">
                Лаборатория состоит из 6 учебных ячеек:
            </div>
            <div class="lab__row">
                <div class="lab__left-col">
                    <ol class="lab__list">
                        <li class="lab__list-item">
                            <div class="lab__card">
                                <h3 class="lab__card-title">
                                    Ячейка Х
                                </h3>
                                <div class="lab__card-robot">
                                    На базе робота Kuka RTR74
                                </div>
                                <div class="lab__card-price">
                                    2 850 000 ₽
                                </div>
                            </div>
                        </li>
                        <li class="lab__list-item">
                            <div class="lab__card">
                                <h3 class="lab__card-title">
                                    Ячейка T
                                </h3>
                                <div class="lab__card-robot">
                                    На базе робота Kuka RTR74
                                </div>
                                <div class="lab__card-price">
                                    2 850 000 ₽
                                </div>
                            </div>
                        </li>
                        <li class="lab__list-item">
                            <div class="lab__card">
                                <h3 class="lab__card-title">
                                    Ячейка Y
                                </h3>
                                <div class="lab__card-robot">
                                    На базе робота Kuka RTR74
                                </div>
                                <div class="lab__card-price">
                                    2 850 000 ₽
                                </div>
                            </div>
                        </li>
                        <li class="lab__list-item">
                            <div class="lab__card">
                                <h3 class="lab__card-title">
                                    Ячейка U
                                </h3>
                                <div class="lab__card-robot">
                                    На базе робота Kuka RTR74
                                </div>
                                <div class="lab__card-price">
                                    2 850 000 ₽
                                </div>
                            </div>
                        </li>
                        <li class="lab__list-item">
                            <div class="lab__card">
                                <h3 class="lab__card-title">
                                    Ячейка P
                                </h3>
                                <div class="lab__card-robot">
                                    На базе робота Kuka RTR74
                                </div>
                                <div class="lab__card-price">
                                    2 850 000 ₽
                                </div>
                            </div>
                        </li>
                        <li class="lab__list-item">
                            <div class="lab__card">
                                <h3 class="lab__card-title">
                                    Ячейка W
                                </h3>
                                <div class="lab__card-robot">
                                    На базе робота Kuka RTR74
                                </div>
                                <div class="lab__card-price">
                                    2 850 000 ₽
                                </div>
                            </div>
                        </li>
                    </ol>
                    <div class="lab__controls">
                        <a href="#" class="btn lab__buy-link">
                            Купить лабораторию
                        </a>
                        <div class="lab__price">
                            Итого: 17 100 000 ₽
                        </div>
                    </div>
                    <div class="lab__slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="robot-card">
                                        <div class="robot-card__image-wrapper">
                                            <img src="/images/lab/1.webp" alt="" class="robot-card__image">
                                        </div>
                                        <h3 class="robot-card__title">
                                            Ячейка Х
                                        </h3>
                                        <div class="robot-card__price">
                                            от 2 850 000₽
                                        </div>
                                        <div class="robot-card__arrow">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#simple-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="robot-card">
                                        <div class="robot-card__image-wrapper">
                                            <img src="/images/lab/2.webp" alt="" class="robot-card__image">
                                        </div>
                                        <h3 class="robot-card__title">
                                            Промышленный робот KUKA KR 8
                                        </h3>
                                        <div class="robot-card__price">
                                            от 2 850 000₽
                                        </div>
                                        <div class="robot-card__arrow">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#simple-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="robot-card">
                                        <div class="robot-card__image-wrapper">
                                            <img src="/images/lab/3.webp" alt="" class="robot-card__image">
                                        </div>
                                        <h3 class="robot-card__title">
                                            Промышленный робот KUKA KR 8
                                        </h3>
                                        <div class="robot-card__price">
                                            от 2 850 000₽
                                        </div>
                                        <div class="robot-card__arrow">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#simple-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="robot-card">
                                        <div class="robot-card__image-wrapper">
                                            <img src="/images/lab/3.webp" alt="" class="robot-card__image">
                                        </div>
                                        <h3 class="robot-card__title">
                                            Промышленный робот KUKA KR 8
                                        </h3>
                                        <div class="robot-card__price">
                                            от 2 850 000₽
                                        </div>
                                        <div class="robot-card__arrow">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#simple-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="robot-card">
                                        <div class="robot-card__image-wrapper">
                                            <img src="/images/lab/4.webp" alt="" class="robot-card__image">
                                        </div>
                                        <h3 class="robot-card__title">
                                            Ячейка Х
                                        </h3>
                                        <div class="robot-card__price">
                                            от 2 850 000₽
                                        </div>
                                        <div class="robot-card__arrow">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#simple-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="robot-card">
                                        <div class="robot-card__image-wrapper">
                                            <img src="/images/lab/5.webp" alt="" class="robot-card__image">
                                        </div>
                                        <h3 class="robot-card__title">
                                            Промышленный робот KUKA KR 8
                                        </h3>
                                        <div class="robot-card__price">
                                            от 2 850 000₽
                                        </div>
                                        <div class="robot-card__arrow">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#simple-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="lab__slider-controls">
                            <div class="lab__slider-arrows">
                                <button class="lab__slider-arrow lab__slider-arrow--prev" type="button">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#slider-arrow-left"></use>
                                    </svg>
                                </button>
                                <button class="lab__slider-arrow lab__slider-arrow--next" type="button">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#slider-arrow-right"></use>
                                    </svg>
                                </button>
                            </div>
                            <div class="lab__slider-pagination">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="lab__right-col">
                    <div class="lab__info">
                        <div class="lab__info-icon">
                            i
                        </div>
                        <div class="lab__info-text">
                            Каждая ячейка сформирована по минимальным комплектациям с базовым роботм Кука.Вы можете
                            купить всю лабораторию, нажав на кнопку “Купить лабораторию”. Также вы можете купить ячейку
                            отдельно и подобрать к ней робота, который необходим вам.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>