<section class="not-found">
    <div class="not-found__content">
        <div class="breadcrumbs not-found__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <a href="#" class="active">
                Страница не найдена
            </a>
        </div>
        <div class="not-found__text-content">
            <img src="/images/404.svg" alt="Страница не найдена" class="not-found__image">
            <h1 class="not-found__heading">
                Страница не найдена
            </h1>
            <a href="#" class="not-found__back-link">
                Вернуться на главную
            </a>
        </div>
    </div>
</section>