<section class="numbers">
    <div class="numbers__content">
        <ul class="numbers__list">
            <li class="numbers__list-item">
                <div class="numbers__card">
                    <div class="numbers__card-amount">
                        2018
                    </div>
                    <div class="numbers__card-text">
                        Год основания
                    </div>
                </div>
            </li>
            <li class="numbers__list-item">
                <div class="numbers__card">
                    <div class="numbers__card-amount">
                        134
                    </div>
                    <div class="numbers__card-text">
                        Внедренных роботов&nbsp;KUKA
                    </div>
                </div>
            </li>
            <li class="numbers__list-item">
                <div class="numbers__card">
                    <div class="numbers__card-amount">
                        111
                    </div>
                    <div class="numbers__card-text">
                        Завершенных проектов
                    </div>
                </div>
            </li>
            <li class="numbers__list-item">
                <div class="numbers__card">
                    <div class="numbers__card-amount">
                        1
                    </div>
                    <div class="numbers__card-text">
                        Стратегический Партнер в Татарстане
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>