<section class="options" id="options">
    <div class="options__content">
        <h2 class="options__heading">
            Комплектация
        </h2>
        <div class="options__row">
            <div class="options__left-col">
                <div class="options__btns">
                    <ul class="options__btns-list">
                        <li class="options__btns-list-item">
                            <button class="options__btn active" type="button">
                                Шкаф управления роботом
                                <span class="options__btn-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#simple-arrow-right"></use>
                                    </svg>
                                </span>
                            </button>
                        </li>
                        <li class="options__btns-list-item">

                            <button class="options__btn" type="button">
                                Механизм подачи проволоки
                                <span class="options__btn-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#simple-arrow-right"></use>
                                    </svg>
                                </span>
                            </button>
                        </li>
                        <li class="options__btns-list-item">
                            <button class="options__btn" type="button">
                                Пульт управления
                                <span class="options__btn-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#simple-arrow-right"></use>
                                    </svg>
                                </span>
                            </button>
                        </li>
                        <li class="options__btns-list-item">
                            <button class="options__btn" type="button">
                                Сварочная головка HW-20P
                                <span class="options__btn-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#simple-arrow-right"></use>
                                    </svg>
                                </span>
                            </button>
                        </li>
                        <li class="options__btns-list-item">
                            <button class="options__btn" type="button">
                                Лазерный источник MFSC-1500
                                <span class="options__btn-arrow">
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#simple-arrow-right"></use>
                                    </svg>
                                </span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="options__right-col">
                <div class="options__tabs">
                    <div class="options__tabs-item active">
                        <div class="options__card">
                            <div class="options__card-image-wrapper">
                                <img src="/images/options.webp" alt="" class="options__card-image">
                            </div>
                            <div class="options__card-content">
                                <h3 class="options__card-title">
                                    Вакуумный захват для продуктов в индивидуальной упаковке (опция)
                                </h3>
                                <ul class="options__card-list">
                                    <li class="options__card-list-item">
                                        Защищенная конструкция с циркуляцией воздуха.
                                    </li>
                                    <li class="options__card-list-item">
                                        Наличие места для установки серводрайверов внешних осей.
                                    </li>
                                    <li class="options__card-list-item">
                                        Поддержка протоколов CanOpen, ModbusTCP, Ethernet IP
                                    </li>
                                    <li class="options__card-list-item">
                                        Два кнопочных поста для быстрого запуска программы.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="options__tabs-item">
                        <div class="options__card">
                            <div class="options__card-image-wrapper">
                                <img src="/images/options.webp" alt="" class="options__card-image">
                            </div>
                            <div class="options__card-content">
                                <h3 class="options__card-title">
                                    Вакуумный захват для продуктов в индивидуальной упаковке (опция)
                                </h3>
                                <ul class="options__card-list">
                                    <li class="options__card-list-item">
                                        Защищенная конструкция с циркуляцией воздуха.
                                    </li>
                                    <li class="options__card-list-item">
                                        Наличие места для установки серводрайверов внешних осей.
                                    </li>
                                    <li class="options__card-list-item">
                                        Поддержка протоколов CanOpen, ModbusTCP, Ethernet IP
                                    </li>
                                    <li class="options__card-list-item">
                                        Два кнопочных поста для быстрого запуска программы.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="options__tabs-item">
                        <div class="options__card">
                            <div class="options__card-image-wrapper">
                                <img src="/images/options.webp" alt="" class="options__card-image">
                            </div>
                            <div class="options__card-content">
                                <h3 class="options__card-title">
                                    Вакуумный захват для продуктов в индивидуальной упаковке (опция)
                                </h3>
                                <ul class="options__card-list">
                                    <li class="options__card-list-item">
                                        Защищенная конструкция с циркуляцией воздуха.
                                    </li>
                                    <li class="options__card-list-item">
                                        Наличие места для установки серводрайверов внешних осей.
                                    </li>
                                    <li class="options__card-list-item">
                                        Поддержка протоколов CanOpen, ModbusTCP, Ethernet IP
                                    </li>
                                    <li class="options__card-list-item">
                                        Два кнопочных поста для быстрого запуска программы.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="options__tabs-item">
                        <div class="options__card">
                            <div class="options__card-image-wrapper">
                                <img src="/images/options.webp" alt="" class="options__card-image">
                            </div>
                            <div class="options__card-content">
                                <h3 class="options__card-title">
                                    Вакуумный захват для продуктов в индивидуальной упаковке (опция)
                                </h3>
                                <ul class="options__card-list">
                                    <li class="options__card-list-item">
                                        Защищенная конструкция с циркуляцией воздуха.
                                    </li>
                                    <li class="options__card-list-item">
                                        Наличие места для установки серводрайверов внешних осей.
                                    </li>
                                    <li class="options__card-list-item">
                                        Поддержка протоколов CanOpen, ModbusTCP, Ethernet IP
                                    </li>
                                    <li class="options__card-list-item">
                                        Два кнопочных поста для быстрого запуска программы.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="options__tabs-item">
                        <div class="options__card">
                            <div class="options__card-image-wrapper">
                                <img src="/images/options.webp" alt="" class="options__card-image">
                            </div>
                            <div class="options__card-content">
                                <h3 class="options__card-title">
                                    Вакуумный захват для продуктов в индивидуальной упаковке (опция)
                                </h3>
                                <ul class="options__card-list">
                                    <li class="options__card-list-item">
                                        Защищенная конструкция с циркуляцией воздуха.
                                    </li>
                                    <li class="options__card-list-item">
                                        Наличие места для установки серводрайверов внешних осей.
                                    </li>
                                    <li class="options__card-list-item">
                                        Поддержка протоколов CanOpen, ModbusTCP, Ethernet IP
                                    </li>
                                    <li class="options__card-list-item">
                                        Два кнопочных поста для быстрого запуска программы.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>