<section class="our-clients">
    <div class="our-clients__content">
        <h2 class="our-clients__heading">
            Официальные системные партнеры
        </h2>
        <div class="our-clients__slider">
            <div class="our-clients__slider-wrapper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="our-clients__slider-card">
                                <img src="/images/partners/1.webp" alt="" class="our-clients__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="our-clients__slider-card">
                                <img src="/images/partners/2.webp" alt="" class="our-clients__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="our-clients__slider-card">
                                <img src="/images/partners/3.webp" alt="" class="our-clients__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="our-clients__slider-card">
                                <img src="/images/partners/4.webp" alt="" class="our-clients__slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="our-clients__slider-card">
                                <img src="/images/partners/5.webp" alt="" class="our-clients__slider-card-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="our-clients__slider-controls">
                <div class="our-clients__slider-arrows">
                    <button class="our-clients__slider-arrow our-clients__slider-arrow--prev" type="button">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-left"></use>
                        </svg>
                    </button>
                    <button class="our-clients__slider-arrow our-clients__slider-arrow--next" type="button">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-right"></use>
                        </svg>
                    </button>
                </div>
                <div class="our-clients__slider-pagination">

                </div>
            </div>
        </div>
    </div>
</section>