<section class="product-nav">
    <div class="product-nav__content">
        <div class="product-nav__wrapper">
            <ul class="product-nav__list">
                <li class="product-nav__list-item">
                    <a href="#description" class="product-nav__link">
                        Описание
                    </a>
                </li>
                <li class="product-nav__list-item">
                    <a href="#specs" class="product-nav__link">
                        Характеристики
                    </a>
                </li>
                <li class="product-nav__list-item">
                    <a href="#complect" class="product-nav__link">
                        Комплектация
                    </a>
                </li>
                <li class="product-nav__list-item">
                    <a href="#documents" class="product-nav__link">
                        Документы
                    </a>
                </li>
                <li class="product-nav__list-item">
                    <a href="#equipment" class="product-nav__link">
                        Дополнительное оборудование
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>