<section class="programs">
    <div class="programs__content">
        <h2 class="programs__heading">
            Доступные программы
        </h2>
        <ul class="programs__list">
            <li class="programs__list-item">
                <div class="programs__card">
                    <img src="/images/programs/1.svg" alt="" class="programs__card-icon">
                    <h3 class="programs__card-title">
                        Бесплатное обучение при покупке оборудования
                    </h3>
                    <div class="programs__card-text">
                        <p>
                            Текст-заполнитель&nbsp;&mdash; это текст, который имеет некоторые характеристики реального
                            письменного
                            текста, но&nbsp;является случайным набором слов или сгенерирован иным образом.
                        </p>
                        <p>
                            Его можно использовать для отображения образца шрифтов, создания текста для тестирования
                            или&nbsp;обхода спам-фильтра.
                        </p>
                    </div>
                </div>
            </li>
            <li class="programs__list-item">
                <div class="programs__card">
                    <img src="/images/programs/2.svg" alt="" class="programs__card-icon">
                    <h3 class="programs__card-title">
                        Услуга обучения работе на оборудовании
                    </h3>
                    <div class="programs__card-text">
                        <p>
                            Текст-заполнитель&nbsp;&mdash; это текст, который имеет некоторые характеристики реального
                            письменного
                            текста, но&nbsp;является случайным набором слов или сгенерирован иным образом.
                        </p>
                        <p>
                            Его можно использовать для отображения образца шрифтов, создания текста для тестирования
                            или&nbsp;обхода спам-фильтра.
                        </p>
                    </div>
                    <a href="#callback-modal" class="btn programs__card-link">
                        Оставить заявку
                    </a>
                </div>
            </li>
            <li class="programs__list-item">
                <div class="programs__card">
                    <img src="/images/programs/3.svg" alt="" class="programs__card-icon">
                    <h3 class="programs__card-title">
                        Программа повышения квалификации
                    </h3>
                    <div class="programs__card-text">
                        <p>
                            Текст-заполнитель&nbsp;&mdash; это текст, который имеет некоторые характеристики реального
                            письменного
                            текста, но&nbsp;является случайным набором слов или сгенерирован иным образом.
                        </p>
                        <p>
                            Его можно использовать для отображения образца шрифтов, создания текста для тестирования
                            или&nbsp;обхода спам-фильтра.
                        </p>
                    </div>
                    <a href="#callback-modal" class="btn programs__card-link">
                        Оставить заявку
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>