<section class="project">
    <div class="project__content">
        <div class="breadcrumbs project__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <a href="#">
                Проекты
            </a>
            <a href="#" class="active">
                Стратегическая сессия «Развитие
            </a>
        </div>
        <h1 class="project__heading">
            Автоматизация процесса упаковки и маркировки на производстве компании ТЕПЛОЛЮКС
        </h1>
        <div class="project__info">
            <div class="project__info-card">
                <h3 class="project__info-card-title">
                    Год выполнения:
                </h3>
                <div class="project__info-card-value">
                    2023 г.
                </div>
            </div>
            <div class="project__info-card">
                <h3 class="project__info-card-title">
                    Компания:
                </h3>
                <div class="project__info-card-value">
                    Теплолюкс
                </div>
            </div>
        </div>
        <div class="project__text-content">
            <p>
                Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но
                является случайным набором слов или сгенерирован иным образом. Его можно использовать для отображения
                образца шрифтов, создания текста для тестирования или обхода спам-фильтра.
            </p>
            <p>
                Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но
                является случайным набором слов или сгенерирован иным образом. Его можно использовать для отображения
                образца шрифтов, создания текста для тестирования или обхода спам-фильтра.
            </p>
            <div class="project__gallery-slider-wrapper">
                {{> gallery-slider }}
            </div>
            <p>
                Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но
                является случайным набором слов или сгенерирован иным образом. Его можно использовать для отображения
                образца шрифтов, создания текста для тестирования или обхода спам-фильтра.
            </p>
            <p>
                Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста, но
                является случайным набором слов или сгенерирован иным образом. Его можно использовать для отображения
                образца шрифтов, создания текста для тестирования или обхода спам-фильтра.
            </p>
        </div>
    </div>
</section>