<section class="projects">
    <div class="projects__content">
        <div class="breadcrumbs projects__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <a href="#" class="active">
                Выполненные проекты
            </a>
        </div>
        <h1 class="large-heading projects__heading">
            Выполненные проекты
        </h1>
        <div class="projects__categories">
            <ul class="projects__categories-list">
                <li class="projects__categories-list-item">
                    <a href="#" class="projects__categories-link active">
                        Наука и образование
                    </a>
                </li>
                <li class="projects__categories-list-item">
                    <a href="#" class="projects__categories-link">
                        Промышленность
                    </a>
                </li>
            </ul>
        </div>
        <ul class="projects__list">
            <li class="projects__list-item">
                <a href="#" class="project-card">
                    <div class="project-card__slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="project-card__slider-image-wrapper">
                                        <img src="/images/realised-projects/1.webp" alt=""
                                            class="project-card__slider-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="project-card__slider-image-wrapper">
                                        <img src="/images/realised-projects/2.webp" alt=""
                                            class="project-card__slider-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="project-card__slider-image-wrapper">
                                        <img src="/images/realised-projects/3.webp" alt=""
                                            class="project-card__slider-image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="project-card__slider-pagination">

                        </div>
                    </div>
                    <div class="project-card__content-wrapper">
                        <div class="project-card__pagination">

                        </div>

                        <div class="project-card__content">
                            <h3 class="project-card__title">
                                Автоматизация процесса упаковки и маркировки на производстве компании
                                ТЕПЛОЛЮКС
                            </h3>
                            <div class="project-card__arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#simple-arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="projects__list-item">
                <a href="#" class="project-card">
                    <div class="project-card__slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="project-card__slider-image-wrapper">
                                        <img src="/images/realised-projects/2.webp" alt=""
                                            class="project-card__slider-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="project-card__slider-image-wrapper">
                                        <img src="/images/realised-projects/1.webp" alt=""
                                            class="project-card__slider-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="project-card__slider-image-wrapper">
                                        <img src="/images/realised-projects/3.webp" alt=""
                                            class="project-card__slider-image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="project-card__slider-pagination">

                        </div>
                    </div>
                    <div class="project-card__content-wrapper">
                        <div class="project-card__pagination">

                        </div>

                        <div class="project-card__content">
                            <h3 class="project-card__title">
                                Сварка узлов спецтехники
                            </h3>
                            <div class="project-card__arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#simple-arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="projects__list-item">
                <a href="#" class="project-card">
                    <div class="project-card__slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="project-card__slider-image-wrapper">
                                        <img src="/images/realised-projects/3.webp" alt=""
                                            class="project-card__slider-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="project-card__slider-image-wrapper">
                                        <img src="/images/realised-projects/2.webp" alt=""
                                            class="project-card__slider-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="project-card__slider-image-wrapper">
                                        <img src="/images/realised-projects/1.webp" alt=""
                                            class="project-card__slider-image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="project-card__slider-pagination">

                        </div>
                    </div>
                    <div class="project-card__content-wrapper">
                        <div class="project-card__pagination">

                        </div>

                        <div class="project-card__content">
                            <h3 class="project-card__title">
                                Сварка узлов спецтехники
                            </h3>
                            <div class="project-card__arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#simple-arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="projects__list-item">
                <a href="#" class="project-card">
                    <div class="project-card__slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="project-card__slider-image-wrapper">
                                        <img src="/images/realised-projects/1.webp" alt=""
                                            class="project-card__slider-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="project-card__slider-image-wrapper">
                                        <img src="/images/realised-projects/2.webp" alt=""
                                            class="project-card__slider-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="project-card__slider-image-wrapper">
                                        <img src="/images/realised-projects/3.webp" alt=""
                                            class="project-card__slider-image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="project-card__slider-pagination">

                        </div>
                    </div>
                    <div class="project-card__content-wrapper">
                        <div class="project-card__pagination">

                        </div>

                        <div class="project-card__content">
                            <h3 class="project-card__title">
                                Автоматизация процесса упаковки и маркировки на производстве компании
                                ТЕПЛОЛЮКС
                            </h3>
                            <div class="project-card__arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#simple-arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="projects__list-item">
                <a href="#" class="project-card">
                    <div class="project-card__slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="project-card__slider-image-wrapper">
                                        <img src="/images/realised-projects/1.webp" alt=""
                                            class="project-card__slider-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="project-card__slider-image-wrapper">
                                        <img src="/images/realised-projects/2.webp" alt=""
                                            class="project-card__slider-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="project-card__slider-image-wrapper">
                                        <img src="/images/realised-projects/3.webp" alt=""
                                            class="project-card__slider-image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="project-card__slider-pagination">

                        </div>
                    </div>
                    <div class="project-card__content-wrapper">
                        <div class="project-card__pagination">

                        </div>

                        <div class="project-card__content">
                            <h3 class="project-card__title">
                                Автоматизация процесса упаковки и маркировки на производстве компании
                                ТЕПЛОЛЮКС
                            </h3>
                            <div class="project-card__arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#simple-arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="projects__list-item">
                <a href="#" class="project-card">
                    <div class="project-card__slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="project-card__slider-image-wrapper">
                                        <img src="/images/realised-projects/2.webp" alt=""
                                            class="project-card__slider-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="project-card__slider-image-wrapper">
                                        <img src="/images/realised-projects/1.webp" alt=""
                                            class="project-card__slider-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="project-card__slider-image-wrapper">
                                        <img src="/images/realised-projects/3.webp" alt=""
                                            class="project-card__slider-image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="project-card__slider-pagination">

                        </div>
                    </div>
                    <div class="project-card__content-wrapper">
                        <div class="project-card__pagination">

                        </div>

                        <div class="project-card__content">
                            <h3 class="project-card__title">
                                Сварка узлов спецтехники
                            </h3>
                            <div class="project-card__arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#simple-arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="projects__list-item">
                <a href="#" class="project-card">
                    <div class="project-card__slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="project-card__slider-image-wrapper">
                                        <img src="/images/realised-projects/3.webp" alt=""
                                            class="project-card__slider-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="project-card__slider-image-wrapper">
                                        <img src="/images/realised-projects/2.webp" alt=""
                                            class="project-card__slider-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="project-card__slider-image-wrapper">
                                        <img src="/images/realised-projects/1.webp" alt=""
                                            class="project-card__slider-image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="project-card__slider-pagination">

                        </div>
                    </div>
                    <div class="project-card__content-wrapper">
                        <div class="project-card__pagination">

                        </div>

                        <div class="project-card__content">
                            <h3 class="project-card__title">
                                Сварка узлов спецтехники
                            </h3>
                            <div class="project-card__arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#simple-arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="projects__list-item">
                <a href="#" class="project-card">
                    <div class="project-card__slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="project-card__slider-image-wrapper">
                                        <img src="/images/realised-projects/1.webp" alt=""
                                            class="project-card__slider-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="project-card__slider-image-wrapper">
                                        <img src="/images/realised-projects/2.webp" alt=""
                                            class="project-card__slider-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="project-card__slider-image-wrapper">
                                        <img src="/images/realised-projects/3.webp" alt=""
                                            class="project-card__slider-image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="project-card__slider-pagination">

                        </div>
                    </div>
                    <div class="project-card__content-wrapper">
                        <div class="project-card__pagination">

                        </div>

                        <div class="project-card__content">
                            <h3 class="project-card__title">
                                Автоматизация процесса упаковки и маркировки на производстве компании
                                ТЕПЛОЛЮКС
                            </h3>
                            <div class="project-card__arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#simple-arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>