<section class="realised-projects">
    <div class="realised-projects__content">
        <h2 class="realised-projects__heading">
            Реализованные проекты
        </h2>
        <div class="realised-projects__slider">
            <div class="realised-projects__slider-wrapper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="project-card">
                                <div class="project-card__slider">
                                    <div class="swiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="project-card__slider-image-wrapper">
                                                    <img src="/images/realised-projects/1.webp" alt=""
                                                        class="project-card__slider-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="project-card__slider-image-wrapper">
                                                    <img src="/images/realised-projects/2.webp" alt=""
                                                        class="project-card__slider-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="project-card__slider-image-wrapper">
                                                    <img src="/images/realised-projects/3.webp" alt=""
                                                        class="project-card__slider-image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="project-card__slider-pagination">

                                    </div>
                                </div>
                                <div class="project-card__content-wrapper">
                                    <div class="project-card__pagination">

                                    </div>

                                    <div class="project-card__content">
                                        <h3 class="project-card__title">
                                            Автоматизация процесса упаковки и маркировки на производстве компании
                                            ТЕПЛОЛЮКС
                                        </h3>
                                        <div class="project-card__arrow">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#simple-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="project-card">
                                <div class="project-card__slider">
                                    <div class="swiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="project-card__slider-image-wrapper">
                                                    <img src="/images/realised-projects/2.webp" alt=""
                                                        class="project-card__slider-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="project-card__slider-image-wrapper">
                                                    <img src="/images/realised-projects/1.webp" alt=""
                                                        class="project-card__slider-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="project-card__slider-image-wrapper">
                                                    <img src="/images/realised-projects/3.webp" alt=""
                                                        class="project-card__slider-image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="project-card__slider-pagination">

                                    </div>
                                </div>
                                <div class="project-card__content-wrapper">
                                    <div class="project-card__pagination">

                                    </div>

                                    <div class="project-card__content">
                                        <h3 class="project-card__title">
                                            Сварка узлов спецтехники
                                        </h3>
                                        <div class="project-card__arrow">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#simple-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="project-card">
                                <div class="project-card__slider">
                                    <div class="swiper">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="project-card__slider-image-wrapper">
                                                    <img src="/images/realised-projects/3.webp" alt=""
                                                        class="project-card__slider-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="project-card__slider-image-wrapper">
                                                    <img src="/images/realised-projects/2.webp" alt=""
                                                        class="project-card__slider-image">
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="project-card__slider-image-wrapper">
                                                    <img src="/images/realised-projects/1.webp" alt=""
                                                        class="project-card__slider-image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="project-card__slider-pagination">

                                    </div>
                                </div>
                                <div class="project-card__content-wrapper">
                                    <div class="project-card__pagination">

                                    </div>

                                    <div class="project-card__content">
                                        <h3 class="project-card__title">
                                            Сварка узлов спецтехники
                                        </h3>
                                        <div class="project-card__arrow">
                                            <svg width="14" height="14" aria-hidden="true">
                                                <use xlink:href="#simple-arrow-right"></use>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="realised-projects__slider-bottom-row">
                <div class="realised-projects__slider-controls">


                    <div class="realised-projects__slider-arrows">
                        <button class="realised-projects__slider-arrow realised-projects__slider-arrow--prev"
                            type="button">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#slider-arrow-left"></use>
                            </svg>
                        </button>
                        <button class="realised-projects__slider-arrow realised-projects__slider-arrow--next"
                            type="button">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#slider-arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="realised-projects__slider-pagination">

                    </div>
                </div>
                <a href="#" class="btn realised-projects__show-all">
                    Смотреть все
                </a>
            </div>
        </div>
    </div>
</section>