<section class="reasons">
    <div class="reasons__wrapper">
        <div class="reasons__wrapper-bg">

            <picture>
                <source srcset="/images/reasons-mobile.webp" media="(max-width: 640px)" />
                <img src="/images/reasons.webp" alt="MDN" class="reasons__bg-image" />
            </picture>
        </div>
        <div class="reasons__wrapper-inner">
            <h2 class="reasons__heading">
                6 причин внедрить роботов
            </h2>
            <ul class="reasons__card-list">
                <li class="reasons__card-list-item">
                    <div class="reasons__card">
                        <img src="/images/reasons/1.svg" alt="" class="reasons__card-icon">
                        <h3 class="reasons__card-title">
                            Снижение издержек
                        </h3>
                        <div class="reasons__card-text">
                            Роботы не нуждаются в зарплате, соц. пакетах, отпусках, обедах, тепле и освещении
                        </div>
                    </div>
                </li>
                <li class="reasons__card-list-item">
                    <div class="reasons__card">
                        <img src="/images/reasons/2.svg" alt="" class="reasons__card-icon">
                        <h3 class="reasons__card-title">
                            Стабилизация качества
                        </h3>
                        <div class="reasons__card-text">
                            Точность повторяемости действий 0.02мм Работа всегда идеальна
                        </div>
                    </div>
                </li>
                <li class="reasons__card-list-item">
                    <div class="reasons__card">
                        <img src="/images/reasons/3.svg" alt="" class="reasons__card-icon">
                        <h3 class="reasons__card-title">
                            Увеличение объемов выпуска
                        </h3>
                        <div class="reasons__card-text">
                            Работа 24/7 на полной скорости и без перерывов
                        </div>
                    </div>
                </li>
                <li class="reasons__card-list-item">
                    <div class="reasons__card">
                        <img src="/images/reasons/4.svg" alt="" class="reasons__card-icon">
                        <h3 class="reasons__card-title">
                            Безопасность
                        </h3>
                        <div class="reasons__card-text">
                            Роботы эффективны в самых суровых и опасных условиях, где работа человека связана с высокими
                            рисками
                        </div>
                    </div>
                </li>
                <li class="reasons__card-list-item">
                    <div class="reasons__card">
                        <img src="/images/reasons/5.svg" alt="" class="reasons__card-icon">
                        <h3 class="reasons__card-title">
                            Снижение кадровых рисков
                        </h3>
                        <div class="reasons__card-text">
                            Потеря умелого рабочего способна подорвать самое отлаженное производство
                        </div>
                    </div>
                </li>
                <li class="reasons__card-list-item">
                    <div class="reasons__card">
                        <img src="/images/reasons/6.svg" alt="" class="reasons__card-icon">
                        <h3 class="reasons__card-title">
                            Оптимизация пространства
                        </h3>
                        <div class="reasons__card-text">
                            Робот способен эффективно действовать в ограниченном пространстве
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>