<section class="reviews">
    <div class="reviews__content">
        <div class="breadcrumbs reviews__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <a href="#" class="active">
                Отзывы
            </a>
        </div>
        <h1 class="large-heading reviews__heading">
            Отзывы
        </h1>
        <ul class="reviews__list">
            <li class="reviews__list-item">
                <div class="review-card">
                    <div class="review-card__content">
                        <h3 class="review-card__title">
                            Наименование организации
                        </h3>
                        <div class="review-card__text">
                            Расшифровка благодарственного письма. Текст-заполнитель — это текст, который имеет некоторые
                            характеристики реального письменного текста, но является случайным набором слов или
                            сгенерирован иным образом. Его можно использовать для отображения образца шрифтов, создания
                            текста для тестирования или обхода спам-фильтра.
                        </div>
                        <button class="review-card__toggle-btn" type="button">
                            <span>
                                Читать полностью
                            </span>
                            <span>
                                Скрыть
                            </span>
                        </button>
                    </div>
                    <a href="/images/reviews/1.webp" class="review-card__image-wrapper" data-fancybox="reviews">
                        <img src="/images/reviews/1.webp" alt="" class="review-card__image">
                        <div class="review-card__zoom">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#zoom"></use>
                            </svg>
                        </div>
                    </a>
                </div>
            </li>
            <li class="reviews__list-item">
                <div class="review-card">
                    <div class="review-card__content">
                        <h3 class="review-card__title">
                            Наименование организации
                        </h3>
                        <div class="review-card__text">
                            Расшифровка благодарственного письма. Текст-заполнитель — это текст, который имеет некоторые
                            характеристики реального письменного текста, но является случайным набором слов или
                            сгенерирован иным образом. Его можно использовать для отображения образца шрифтов, создания
                            текста для тестирования или обхода спам-фильтра.
                        </div>
                        <button class="review-card__toggle-btn" type="button">
                            <span>
                                Читать полностью
                            </span>
                            <span>
                                Скрыть
                            </span>
                        </button>
                    </div>
                    <a href="/images/reviews/2.webp" class="review-card__image-wrapper" data-fancybox="reviews">
                        <img src="/images/reviews/2.webp" alt="" class="review-card__image">
                        <div class="review-card__zoom">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#zoom"></use>
                            </svg>
                        </div>
                    </a>
                </div>
            </li>
            <li class="reviews__list-item">
                <div class="review-card">
                    <div class="review-card__content">
                        <h3 class="review-card__title">
                            Наименование организации
                        </h3>
                        <div class="review-card__text">
                            Расшифровка благодарственного письма. Текст-заполнитель — это текст, который имеет некоторые
                            характеристики реального письменного текста, но является случайным набором слов или
                            сгенерирован иным образом. Его можно использовать для отображения образца шрифтов, создания
                            текста для тестирования или обхода спам-фильтра.
                        </div>
                        <button class="review-card__toggle-btn" type="button">
                            <span>
                                Читать полностью
                            </span>
                            <span>
                                Скрыть
                            </span>
                        </button>
                    </div>
                    <a href="/images/reviews/2.webp" class="review-card__image-wrapper" data-fancybox="reviews">
                        <img src="/images/reviews/2.webp" alt="" class="review-card__image">
                        <div class="review-card__zoom">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#zoom"></use>
                            </svg>
                        </div>
                    </a>
                </div>
            </li>
            <li class="reviews__list-item">
                <div class="review-card">
                    <div class="review-card__content">
                        <h3 class="review-card__title">
                            Наименование организации
                        </h3>
                        <div class="review-card__text">
                            Расшифровка благодарственного письма. Текст-заполнитель — это текст, который имеет некоторые
                            характеристики реального письменного текста, но является случайным набором слов или
                            сгенерирован иным образом. Его можно использовать для отображения образца шрифтов, создания
                            текста для тестирования или обхода спам-фильтра.
                        </div>
                        <button class="review-card__toggle-btn" type="button">
                            <span>
                                Читать полностью
                            </span>
                            <span>
                                Скрыть
                            </span>
                        </button>
                    </div>
                    <a href="/images/reviews/1.webp" class="review-card__image-wrapper" data-fancybox="reviews">
                        <img src="/images/reviews/1.webp" alt="" class="review-card__image">
                        <div class="review-card__zoom">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#zoom"></use>
                            </svg>
                        </div>
                    </a>
                </div>
            </li>
            <li class="reviews__list-item">
                <div class="review-card">
                    <div class="review-card__content">
                        <h3 class="review-card__title">
                            Наименование организации
                        </h3>
                        <div class="review-card__text">
                            Расшифровка благодарственного письма. Текст-заполнитель — это текст, который имеет некоторые
                            характеристики реального письменного текста, но является случайным набором слов или
                            сгенерирован иным образом. Его можно использовать для отображения образца шрифтов, создания
                            текста для тестирования или обхода спам-фильтра.
                        </div>
                        <button class="review-card__toggle-btn" type="button">
                            <span>
                                Читать полностью
                            </span>
                            <span>
                                Скрыть
                            </span>
                        </button>
                    </div>
                    <a href="/images/reviews/1.webp" class="review-card__image-wrapper" data-fancybox="reviews">
                        <img src="/images/reviews/1.webp" alt="" class="review-card__image">
                        <div class="review-card__zoom">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#zoom"></use>
                            </svg>
                        </div>
                    </a>
                </div>
            </li>
            <li class="reviews__list-item">
                <div class="review-card">
                    <div class="review-card__content">
                        <h3 class="review-card__title">
                            Наименование организации
                        </h3>
                        <div class="review-card__text">
                            Расшифровка благодарственного письма. Текст-заполнитель — это текст, который имеет некоторые
                            характеристики реального письменного текста, но является случайным набором слов или
                            сгенерирован иным образом. Его можно использовать для отображения образца шрифтов, создания
                            текста для тестирования или обхода спам-фильтра.
                        </div>
                        <button class="review-card__toggle-btn" type="button">
                            <span>
                                Читать полностью
                            </span>
                            <span>
                                Скрыть
                            </span>
                        </button>
                    </div>
                    <a href="/images/reviews/2.webp" class="review-card__image-wrapper" data-fancybox="reviews">
                        <img src="/images/reviews/2.webp" alt="" class="review-card__image">
                        <div class="review-card__zoom">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#zoom"></use>
                            </svg>
                        </div>
                    </a>
                </div>
            </li>
            <li class="reviews__list-item">
                <div class="review-card">
                    <div class="review-card__content">
                        <h3 class="review-card__title">
                            Наименование организации
                        </h3>
                        <div class="review-card__text">
                            Расшифровка благодарственного письма. Текст-заполнитель — это текст, который имеет некоторые
                            характеристики реального письменного текста, но является случайным набором слов или
                            сгенерирован иным образом. Его можно использовать для отображения образца шрифтов, создания
                            текста для тестирования или обхода спам-фильтра.
                        </div>
                        <button class="review-card__toggle-btn" type="button">
                            <span>
                                Читать полностью
                            </span>
                            <span>
                                Скрыть
                            </span>
                        </button>
                    </div>
                    <a href="/images/reviews/2.webp" class="review-card__image-wrapper" data-fancybox="reviews">
                        <img src="/images/reviews/2.webp" alt="" class="review-card__image">
                        <div class="review-card__zoom">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#zoom"></use>
                            </svg>
                        </div>
                    </a>
                </div>
            </li>
            <li class="reviews__list-item">
                <div class="review-card">
                    <div class="review-card__content">
                        <h3 class="review-card__title">
                            Наименование организации
                        </h3>
                        <div class="review-card__text">
                            Расшифровка благодарственного письма. Текст-заполнитель — это текст, который имеет некоторые
                            характеристики реального письменного текста, но является случайным набором слов или
                            сгенерирован иным образом. Его можно использовать для отображения образца шрифтов, создания
                            текста для тестирования или обхода спам-фильтра.
                        </div>
                        <button class="review-card__toggle-btn" type="button">
                            <span>
                                Читать полностью
                            </span>
                            <span>
                                Скрыть
                            </span>
                        </button>
                    </div>
                    <a href="/images/reviews/1.webp" class="review-card__image-wrapper" data-fancybox="reviews">
                        <img src="/images/reviews/1.webp" alt="" class="review-card__image">
                        <div class="review-card__zoom">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#zoom"></use>
                            </svg>
                        </div>
                    </a>
                </div>
            </li>
            <li class="reviews__list-item">
                <div class="review-card">
                    <div class="review-card__content">
                        <h3 class="review-card__title">
                            Наименование организации
                        </h3>
                        <div class="review-card__text">
                            Расшифровка благодарственного письма. Текст-заполнитель — это текст, который имеет некоторые
                            характеристики реального письменного текста, но является случайным набором слов или
                            сгенерирован иным образом. Его можно использовать для отображения образца шрифтов, создания
                            текста для тестирования или обхода спам-фильтра.
                        </div>
                        <button class="review-card__toggle-btn" type="button">
                            <span>
                                Читать полностью
                            </span>
                            <span>
                                Скрыть
                            </span>
                        </button>
                    </div>
                    <a href="/images/reviews/1.webp" class="review-card__image-wrapper" data-fancybox="reviews">
                        <img src="/images/reviews/1.webp" alt="" class="review-card__image">
                        <div class="review-card__zoom">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#zoom"></use>
                            </svg>
                        </div>
                    </a>
                </div>
            </li>
            <li class="reviews__list-item">
                <div class="review-card">
                    <div class="review-card__content">
                        <h3 class="review-card__title">
                            Наименование организации
                        </h3>
                        <div class="review-card__text">
                            Расшифровка благодарственного письма. Текст-заполнитель — это текст, который имеет некоторые
                            характеристики реального письменного текста, но является случайным набором слов или
                            сгенерирован иным образом. Его можно использовать для отображения образца шрифтов, создания
                            текста для тестирования или обхода спам-фильтра.
                        </div>
                        <button class="review-card__toggle-btn" type="button">
                            <span>
                                Читать полностью
                            </span>
                            <span>
                                Скрыть
                            </span>
                        </button>
                    </div>
                    <a href="/images/reviews/2.webp" class="review-card__image-wrapper" data-fancybox="reviews">
                        <img src="/images/reviews/2.webp" alt="" class="review-card__image">
                        <div class="review-card__zoom">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#zoom"></use>
                            </svg>
                        </div>
                    </a>
                </div>
            </li>
            <li class="reviews__list-item">
                <div class="review-card">
                    <div class="review-card__content">
                        <h3 class="review-card__title">
                            Наименование организации
                        </h3>
                        <div class="review-card__text">
                            Расшифровка благодарственного письма. Текст-заполнитель — это текст, который имеет некоторые
                            характеристики реального письменного текста, но является случайным набором слов или
                            сгенерирован иным образом. Его можно использовать для отображения образца шрифтов, создания
                            текста для тестирования или обхода спам-фильтра.
                        </div>
                        <button class="review-card__toggle-btn" type="button">
                            <span>
                                Читать полностью
                            </span>
                            <span>
                                Скрыть
                            </span>
                        </button>
                    </div>
                    <a href="/images/reviews/2.webp" class="review-card__image-wrapper" data-fancybox="reviews">
                        <img src="/images/reviews/2.webp" alt="" class="review-card__image">
                        <div class="review-card__zoom">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#zoom"></use>
                            </svg>
                        </div>
                    </a>
                </div>
            </li>
            <li class="reviews__list-item">
                <div class="review-card">
                    <div class="review-card__content">
                        <h3 class="review-card__title">
                            Наименование организации
                        </h3>
                        <div class="review-card__text">
                            Расшифровка благодарственного письма. Текст-заполнитель — это текст, который имеет некоторые
                            характеристики реального письменного текста, но является случайным набором слов или
                            сгенерирован иным образом. Его можно использовать для отображения образца шрифтов, создания
                            текста для тестирования или обхода спам-фильтра.
                        </div>
                        <button class="review-card__toggle-btn" type="button">
                            <span>
                                Читать полностью
                            </span>
                            <span>
                                Скрыть
                            </span>
                        </button>
                    </div>
                    <a href="/images/reviews/1.webp" class="review-card__image-wrapper" data-fancybox="reviews">
                        <img src="/images/reviews/1.webp" alt="" class="review-card__image">
                        <div class="review-card__zoom">
                            <svg width="14" height="14" aria-hidden="true">
                                <use xlink:href="#zoom"></use>
                            </svg>
                        </div>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>