<section class="product-intro">
    <div class="product-intro__content">
        <div class="breadcrumbs product-intro__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <a href="#">
                Промышленность
            </a>
            <a href="#">
                Литейная промышленность
            </a>
            <a href="#" class="active">
                Подкатегория 1
            </a>
        </div>
        <div class="product-intro__row">
            <div class="product-intro__left-col">


                <div class="product-intro__gallery js-product-gallery">
                    <div class="product-intro__gallery-slider">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="product-intro__gallery-slider-card">
                                        <img src="/images/product-gallery/1.webp" alt=""
                                            class="product-intro__gallery-slider-card-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-intro__gallery-slider-card">
                                        <img src="/images/product-gallery/1.webp" alt=""
                                            class="product-intro__gallery-slider-card-image">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="product-intro__gallery-slider-card">
                                        <img src="/images/product-gallery/1.webp" alt=""
                                            class="product-intro__gallery-slider-card-image">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-intro__gallery-pagination">

                    </div>
                </div>
            </div>
            <div class="product-intro__right-col">
                <h1 class="product-intro__heading">
                    Тип 1 Промышленные роботы
                </h1>
                <ul class="product-intro__features-list">
                    <li class="product-intro__features-list-item">
                        <div class="product-intro__features-card">
                            <img src="/images/features/1.svg" alt="" class="product-intro__features-card-icon">
                            Доступно в лизинг
                        </div>
                    </li>
                    <li class="product-intro__features-list-item">
                        <div class="product-intro__features-card">
                            <img src="/images/features/2.svg" alt="" class="product-intro__features-card-icon">
                            Гарантия 2 года
                        </div>
                    </li>
                    <li class="product-intro__features-list-item">
                        <div class="product-intro__features-card">
                            <img src="/images/features/3.svg" alt="" class="product-intro__features-card-icon">
                            Первичное обучение бесплатно
                        </div>
                    </li>
                    <li class="product-intro__features-list-item">
                        <div class="product-intro__features-card">
                            <img src="/images/features/4.svg" alt="" class="product-intro__features-card-icon">
                            Первичный технический аудит бесплатно
                        </div>
                    </li>
                </ul>
                <div class="product-intro__price-row">
                    <div class="product-intro__price">
                        от 2 850 000₽
                    </div>
                    <a href="#" class="product-intro__manual">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#download"></use>
                        </svg>
                        <div class="product-intro__manual-content">
                            <div class="product-intro__manual-title">
                                Подробная информация
                            </div>
                            <div class="product-intro__manual-size">
                                Pdf
                            </div>
                        </div>
                    </a>
                </div>
                <form action="/" method="POST" class="product-intro__controls">
                    <div class="product-intro__counter js-simple-counter" data-min="1">
                        <button class="product-intro__counter-btn js-simple-counter-minus" disabled="">
                            -
                        </button>
                        <input type="text" readonly="" value="1" class="product-intro__counter-input">
                        <button class="product-intro__counter-btn js-simple-counter-plus">
                            +
                        </button>
                    </div>
                    <button class="btn product-intro__add-to-cart" type="submit">
                        Добавить в корзину
                    </button>
                    <a href="#" class="product-intro__individual-solution">
                        Индивидуальное решение
                    </a>
                </form>
            </div>
        </div>
    </div>
</section>