<section class="documents documents--robot" id="documents">
    <div class="documents__content">
        <h2 class="documents__heading documents__heading--small">
            Сертификаты и документы
        </h2>
        <ul class="documents__list">
            <li class="documents__list-item">
                <a href="#" class="certificate-card">
                    <div class="certificate-card__content">
                        <h3 class="certificate-card__title">
                            Certificate 2022<br> SystemPartner
                        </h3>
                        <div class="certificate-card__format">
                            PDF
                        </div>
                    </div>
                </a>
            </li>
            <li class="documents__list-item">
                <a href="#" class="certificate-card">
                    <div class="certificate-card__content">
                        <h3 class="certificate-card__title">
                            Certificate 2022<br> System Partner
                        </h3>
                        <div class="certificate-card__format">
                            PDF
                        </div>
                    </div>
                </a>
            </li>
            <li class="documents__list-item">
                <a href="#" class="certificate-card">
                    <div class="certificate-card__content">
                        <h3 class="certificate-card__title">
                            Certificate 2022<br> System Partner
                        </h3>
                        <div class="certificate-card__format">
                            PDF
                        </div>
                    </div>
                </a>
            </li>
            <li class="documents__list-item">
                <a href="#" class="certificate-card">
                    <div class="certificate-card__content">
                        <h3 class="certificate-card__title">
                            Certificate 2022<br> System Partner
                        </h3>
                        <div class="certificate-card__format">
                            PDF
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>