<section class="specs" id="specs">
    <div class="specs__content">
        <h2 class="specs__heading">
            Характеристики
        </h2>
        <div class="specs__table">
            <table>
                <tbody>
                    <tr>
                        <th>
                            Степень подвижности
                        </th>
                        <td>
                            6 осей
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Радиус действия (мм)
                        </th>
                        <td>
                            1450
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Вес
                        </th>
                        <td>
                            130 кг
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Полезная грузоподъёмность
                        </th>
                        <td>
                            10 кг
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Максимальная мощность (кВт)
                        </th>
                        <td>
                            3.25
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Повторяемость (мм)
                        </th>
                        <td>
                            ±0.08
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>