<section class="stages">
    <div class="stages__content">
        <h2 class="stages__heading">
            Этапы реализации проекта
        </h2>
        <div class="stages__text">
            Весь цикл внедрения прозрачен, на каждом этапе взаимодействия вы получаете полный доступ к проектной
            команде. Минимум бюрократии, специалисты открыты к общению, ваши специалисты вовлекаются в проект.
        </div>
        <ol class="stages__list">
            <li class="stages__list-item">
                <div class="stages__card">
                    <img src="/images/stages/1.svg" alt="" class="stages__card-icon">
                    <div class="stages__card-content">
                        <h3 class="stages__card-title">
                            Анализ
                        </h3>
                        <div class="stages__card-text">
                            Бесплатно проводим аудит тех. процессов на предмет целесообразности автоматизации и
                            роботизации
                        </div>
                        <ul class="stages__card-features-list">
                            <li class="stages__card-features-list-item">
                                <div class="stages__card-features-card">
                                    <h4 class="stages__card-features-card-title">
                                        Выезд на место
                                    </h4>
                                    <div class="stages__card-features-card-text">
                                        Наши специалисты выезжают на производство, производят осмотр и, с вашего
                                        разрешения, фото и видео съемку
                                    </div>
                                </div>
                            </li>
                            <li class="stages__card-features-list-item">
                                <div class="stages__card-features-card">
                                    <h4 class="stages__card-features-card-title">
                                        Опрос специалистов
                                    </h4>
                                    <div class="stages__card-features-card-text">
                                        Мы опрашиваем специалистов, технологов и инженеров для выявления проблем
                                    </div>
                                </div>
                            </li>
                            <li class="stages__card-features-list-item">
                                <div class="stages__card-features-card">
                                    <h4 class="stages__card-features-card-title">
                                        Проектирование
                                    </h4>
                                    <div class="stages__card-features-card-text">
                                        На основе собранных данных мы производим расчеты и проектируем решения
                                    </div>
                                </div>
                            </li>
                            <li class="stages__card-features-list-item">
                                <div class="stages__card-features-card">
                                    <h4 class="stages__card-features-card-title">
                                        Презентация
                                    </h4>
                                    <div class="stages__card-features-card-text">
                                        Мы презентуем свои решения и их обоснования
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="stages__list-item">

                <div class="stages__card">
                    <img src="/images/stages/2.svg" alt="" class="stages__card-icon">
                    <div class="stages__card-content">
                        <h3 class="stages__card-title">
                            Внедрение
                        </h3>
                        <div class="stages__card-text">
                            Производим точное моделирование, согласуем с вами, реализуем и внедряем проект
                        </div>

                    </div>
                </div>
            </li>
            <li class="stages__list-item">
                <div class="stages__card">
                    <img src="/images/stages/3.svg" alt="" class="stages__card-icon">
                    <div class="stages__card-content">
                        <h3 class="stages__card-title">
                            Расчет
                        </h3>
                        <div class="stages__card-text">
                            Бесплатно производим предварительное моделирование и расчет эффективности автоматизации и
                            роботизации
                        </div>

                    </div>
                </div>
            </li>
            <li class="stages__list-item">
                <div class="stages__card">
                    <img src="/images/stages/4.svg" alt="" class="stages__card-icon">
                    <div class="stages__card-content">
                        <h3 class="stages__card-title">
                            Поддержка
                        </h3>
                        <div class="stages__card-text">
                            Круглосуточная, круглогодичная поддержка на всем гарантийном и пост гарантийном сроках
                        </div>
                    </div>
                </div>
            </li>
        </ol>
    </div>
</section>