<section class="subjects-page">
    <div class="subjects-page__content">
        <div class="breadcrumbs subjects-page__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <a href="#" class="active">
                Каталог
            </a>
        </div>
        <h1 class="large-heading subjects-page__heading">
            Направления деятельности
        </h1>
        <ul class="subjects__list">
            <li class="subjects__list-item">
                <div class="subjects__card">
                    <a href="#" class="subjects__card-link-wrapper"></a>

                    <picture>
                        <source srcset="/images/subjects/1-mobile.webp" media="(max-width: 640px)" />
                        <img src="/images/subjects/1.webp" alt="MDN" class="subjects__card-image" />
                    </picture>
                    <div class="subjects__card-content">
                        <h3 class="subjects__card-title">
                            Промышленность
                        </h3>
                        <div class="subjects__card-text">
                            Наша специализация в промышленности: Автоматизация процессов литья под высоким давлением,
                            фрезеровке, обслуживании роботом промышленных линий и обрабатывающих центров.
                        </div>
                        <ul class="subjects__card-list">
                            <li class="subjects__card-list-item">
                                <a href="#" class="subjects__card-category">
                                    Литейное производство
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#category-arrow"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="subjects__card-list-item">
                                <a href="#" class="subjects__card-category">
                                    Фрезерование
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#category-arrow"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="subjects__card-list-item">
                                <a href="#" class="subjects__card-category">
                                    Сварочное производство
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#category-arrow"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="subjects__card-list-item">
                                <a href="#" class="subjects__card-category">
                                    Загрузка/выгрузка
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#category-arrow"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="subjects__card-list-item">
                                <a href="#" class="subjects__card-category">
                                    Паллетирование
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#category-arrow"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                        <div class="subjects__card-arrow-wrapper">


                            <div class="subjects__card-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#simple-arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="subjects__list-item">
                <div class="subjects__card">
                    <a href="#" class="subjects__card-link-wrapper"></a>

                    <picture>
                        <source srcset="/images/subjects/2-mobile.webp" media="(max-width: 640px)" />
                        <img src="/images/subjects/2.webp" alt="MDN" class="subjects__card-image" />
                    </picture>
                    <div class="subjects__card-content">
                        <h3 class="subjects__card-title">
                            Наука и образование
                        </h3>
                        <div class="subjects__card-text">
                            Разрабатываем учебные решения, используемые образовательных организациях, корпоративных
                            винститутах, для оснащения лабораторий, квантуриумов.
                        </div>
                        <ul class="subjects__card-list">
                            <li class="subjects__card-list-item">
                                <a href="#" class="subjects__card-category">
                                    Профессионалитет
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#category-arrow"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="subjects__card-list-item">
                                <a href="#" class="subjects__card-category">
                                    База
                                    <svg width="14" height="14" aria-hidden="true">
                                        <use xlink:href="#category-arrow"></use>
                                    </svg>
                                </a>
                            </li>


                        </ul>
                        <div class="subjects__card-arrow-wrapper">


                            <div class="subjects__card-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#simple-arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>