<section class="subjects-page">
    <div class="subjects-page__content">
        <div class="breadcrumbs subjects-page__breadcrumbs">
            <a href="#">
                Главная
            </a>
            <a href="#" class="active">
                Наука и образование
            </a>
        </div>
        <h1 class="large-heading subjects-page__heading">
            Наука и образование
        </h1>
        <ul class="subjects__list">
            <li class="subjects__list-item">
                <div class="subjects__card">
                    <a href="#" class="subjects__card-link-wrapper"></a>

                    <picture>
                        <source srcset="/images/subjects/5-mobile.webp" media="(max-width: 640px)" />
                        <img src="/images/subjects/5.webp" alt="MDN" class="subjects__card-image" />
                    </picture>
                    <div class="subjects__card-content">
                        <h3 class="subjects__card-title">
                            Базовое
                        </h3>
                        <div class="subjects__card-text subjects__card-text--limited-width">
                            Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного
                            текста
                        </div>

                        <div class="subjects__card-arrow-wrapper">


                            <div class="subjects__card-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#simple-arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="subjects__list-item">
                <div class="subjects__card">
                    <a href="#" class="subjects__card-link-wrapper"></a>

                    <picture>
                        <source srcset="/images/subjects/6-mobile.webp" media="(max-width: 640px)" />
                        <img src="/images/subjects/6.webp" alt="MDN" class="subjects__card-image" />
                    </picture>
                    <div class="subjects__card-content">
                        <h3 class="subjects__card-title">
                            Профессионалитет
                        </h3>
                        <div class="subjects__card-text subjects__card-text--limited-width">
                            Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного
                            текста
                        </div>

                        <div class="subjects__card-arrow-wrapper">


                            <div class="subjects__card-arrow">
                                <svg width="14" height="14" aria-hidden="true">
                                    <use xlink:href="#simple-arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>