<section class="team">
    <div class="team__content">
        <h2 class="team__heading">
            Наша команда
        </h2>
        <div class="team__slider">
            <div class="team__slider-wrapper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="team__slider-card">
                                <div class="team__slider-card-image-wrapper">
                                    <img src="/images/team/1.webp" alt="" class="team__slider-card-image">
                                </div>
                                <div class="team__slider-card-content">


                                    <h3 class="team__slider-card-title">
                                        Имя Фамилия
                                    </h3>
                                    <div class="team__slider-card-text">
                                        Должность
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="team__slider-card">
                                <div class="team__slider-card-image-wrapper">
                                    <img src="/images/team/2.webp" alt="" class="team__slider-card-image">
                                </div>
                                <div class="team__slider-card-content">


                                    <h3 class="team__slider-card-title">
                                        Имя Фамилия
                                    </h3>
                                    <div class="team__slider-card-text">
                                        Должность
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="team__slider-card">
                                <div class="team__slider-card-image-wrapper">
                                    <img src="/images/team/3.webp" alt="" class="team__slider-card-image">
                                </div>
                                <div class="team__slider-card-content">


                                    <h3 class="team__slider-card-title">
                                        Имя Фамилия
                                    </h3>
                                    <div class="team__slider-card-text">
                                        Должность
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="team__slider-card">
                                <div class="team__slider-card-image-wrapper">
                                    <img src="/images/team/4.webp" alt="" class="team__slider-card-image">
                                </div>
                                <div class="team__slider-card-content">


                                    <h3 class="team__slider-card-title">
                                        Имя Фамилия
                                    </h3>
                                    <div class="team__slider-card-text">
                                        Должность
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="team__slider-card">
                                <div class="team__slider-card-image-wrapper">
                                    <img src="/images/team/1.webp" alt="" class="team__slider-card-image">
                                </div>
                                <div class="team__slider-card-content">


                                    <h3 class="team__slider-card-title">
                                        Имя Фамилия
                                    </h3>
                                    <div class="team__slider-card-text">
                                        Должность
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="team__slider-card">
                                <div class="team__slider-card-image-wrapper">
                                    <img src="/images/team/2.webp" alt="" class="team__slider-card-image">
                                </div>
                                <div class="team__slider-card-content">


                                    <h3 class="team__slider-card-title">
                                        Имя Фамилия
                                    </h3>
                                    <div class="team__slider-card-text">
                                        Должность
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team__slider-controls">
                <div class="team__slider-arrows">
                    <button class="team__slider-arrow team__slider-arrow--prev" type="button">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-left"></use>
                        </svg>
                    </button>
                    <button class="team__slider-arrow team__slider-arrow--next" type="button">
                        <svg width="14" height="14" aria-hidden="true">
                            <use xlink:href="#slider-arrow-right"></use>
                        </svg>
                    </button>
                </div>
                <div class="team__slider-pagination">

                </div>
            </div>
        </div>
    </div>
</section>