<section class="vacancies">
    <div class="vacancies__content">
        <h2 class="vacancies__heading">
            Вакансии
        </h2>
        <ul class="vacancies__list">
            <li class="vacancies__list-item">
                <a href="#" class="vacancies__card">
                    <div class="vacancies__card-top-row">
                        <h3 class="vacancies__card-title">
                            Менеджер
                        </h3>
                        <div class="vacancies__card-link">
                            Вакансия на hh.ru
                        </div>
                    </div>
                    <div class="vacancies__card-content">
                        <h3 class="vacancies__card-content-title">
                            Обязанности:
                        </h3>
                        <ul class="vacancies__card-content-list">
                            <li class="vacancies__card-content-list-item">
                                Текст-заполнитель — это текст, который имеет некоторые характеристики реального
                                письменного текста
                            </li>
                            <li class="vacancies__card-content-list-item">
                                Текст-заполнитель — это текст, который имеет некоторые характеристики реального
                                письменного текста
                            </li>
                            <li class="vacancies__card-content-list-item">
                                Текст-заполнитель — это текст, который имеет некоторые характеристики реального
                                письменного текста
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
            <li class="vacancies__list-item">
                <a href="#" class="vacancies__card">
                    <div class="vacancies__card-top-row">
                        <h3 class="vacancies__card-title">
                            Менеджер
                        </h3>
                        <div class="vacancies__card-link">
                            Вакансия на hh.ru
                        </div>
                    </div>
                    <div class="vacancies__card-content">
                        <h3 class="vacancies__card-content-title">
                            Обязанности:
                        </h3>
                        <ul class="vacancies__card-content-list">
                            <li class="vacancies__card-content-list-item">
                                Текст-заполнитель — это текст, который имеет некоторые характеристики реального
                                письменного текста
                            </li>
                            <li class="vacancies__card-content-list-item">
                                Текст-заполнитель — это текст, который имеет некоторые характеристики реального
                                письменного текста
                            </li>
                            <li class="vacancies__card-content-list-item">
                                Текст-заполнитель — это текст, который имеет некоторые характеристики реального
                                письменного текста
                            </li>
                        </ul>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>