<section class="vacancies-intro">
    <div class="vacancies-intro__top">
        <div class="vacancies-intro__top-content">
            <div class="breadcrumbs vacancies-intro__breadcrumbs">
                <a href="#">
                    Главная
                </a>
                <a href="#" class="active">
                    Вакансии
                </a>
            </div>
        </div>
    </div>
    <div class="vacancies-intro__bottom">
        <div class="vacancies-intro__bottom-card-wrapper">


            <div class="vacancies-intro__bottom-card">


                <picture>
                    <source srcset="/images/vacancies-mobile.webp" media="(max-width: 640px)" />
                    <img src="/images/vacancies.webp" alt="" class="vacancies-intro__image" />
                </picture>
            </div>
        </div>
        <div class="vacancies-intro__bottom-content">
            <div class="vacancies-intro__text-content">
                <h1 class="large-heading vacancies-intro__heading">
                    Вакансии
                </h1>
                <div class="vacancies-intro__large-text">
                    Компания «VRM.Group» рада приветствовать новых сотрудников!
                </div>
                <div class="vacancies-intro__text">
                    <p>
                        Мы ищем настоящих профессионалов, готовых внести свой вклад в развитие нашей компании. Мы
                        предлагаем отличные условия работы, возможности для профессионального роста и развития, а также
                        дружный коллектив и приятную атмосферу.
                    </p>
                    <p>
                        Присоединяйтесь к нашей команде!
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>