.contacts {
  @include blockWrapper;
  margin-bottom: 15rem;
  padding-top: 2.4rem;

  @include breakpoint(mobile) {
    padding-top: 1.4rem;
    margin-bottom: 7.2rem;
  }
}

.contacts__content {
  @include blockContent;
  display: flex;
  flex-direction: column;
}

.contacts__breadcrumbs {
  margin-bottom: 5rem;

  @include breakpoint(mobile) {
    margin-bottom: 3.2rem;
  }
}

.contacts__row {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 2.4rem;
  align-items: flex-start;
  margin-bottom: 5.6rem;

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 4rem;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__text-content {
  display: flex;
  flex-direction: column;
}

.contacts__heading {
  margin-bottom: 4rem;

  @include breakpoint(mobile) {
    margin-bottom: 3.2rem;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.contacts__link {
  display: flex;
  align-items: flex-start;
  gap: 0.6rem;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;

  br {
    display: none;
  }

  @include breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    gap: 0.8rem;

    br {
      display: block;
    }
  }

  svg {
    flex-shrink: 0;
    width: 2.2rem;
    height: 2.2rem;
    fill: var(--primary-color);

    @include breakpoint(mobile) {
      width: 2rem;
      height: 2rem;
      margin-top: 0.1rem;
    }
  }

  &:link {
    &:hover {
      color: var(--primary-color);
    }
  }
}

.contacts__map-wrapper {
  margin-right: calc(-1 * (100vw - 100% * 2 - 2.4rem) / 2);
  position: relative;

  @include breakpoint(mobile) {
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
  }

  &::before {
    content: "";
    display: block;
    padding-bottom: 51.7%;
    @include breakpoint(mobile) {
      padding-bottom: 81.8%;
    }
  }
}

.contacts__map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
}

.contacts__info-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 2.4rem;

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.contacts__info {
  display: flex;
  flex-direction: column;
}

.contacts__info-heading {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 2.4rem;

  @include breakpoint(mobile) {
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.contacts__info-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 2.4rem;
  grid-row-gap: 2rem;
  margin-bottom: 5rem;

  @include breakpoint(mobile) {
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 2.4rem;
    margin-bottom: 3.4rem;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__info-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @include breakpoint(mobile) {
  }
}

.contacts__info-card-title {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;

  @include breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
  }
}

.contacts__info-card-value {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  color: rgba(#272727, 0.5);
  @include breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
  }
}

.contacts__partner-card {
  display: flex;
  align-items: flex-start;
  gap: 0.9rem;

  svg {
    flex-shrink: 0;
    width: 2.4rem;
    height: 2.4rem;
    fill: var(--primary-color);
  }
}

.contacts__partner-card-content {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.contacts__partner-card-title {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
}

.contacts__partner-card-size {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  color: #a1a1a1;
}
