.documents {
  @include blockWrapper;
  margin-bottom: 15rem;

  &--robot {
    margin-bottom: 5.6rem;
  }

  @include breakpoint(mobile) {
    margin-bottom: 7.2rem;
    &--robot {
      margin-bottom: 5.3rem;
    }
  }
}

.documents__content {
  @include blockContent;
}

.documents__heading {
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  margin-bottom: 3.2rem;

  &--small {
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 2.4rem;
  }

  @include breakpoint(mobile) {
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    margin-bottom: 3.2rem;
    &--small {
      font-size: 3.2rem;
      font-style: normal;
      font-weight: 600;
      line-height: 1.3;
      margin-bottom: 2.4rem;
    }
  }
}

.documents__list {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 2rem;
  grid-row-gap: 3.2rem;

  @include breakpoint(mobile) {
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 3.2rem;
  }
}

.documents__list-item {
  display: flex;
  flex-direction: column;
}
