.education-intro {
  margin-bottom: 15rem;
  padding-top: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  @include breakpoint(mobile) {
    padding-top: 1.4rem;
    margin-bottom: 7.2rem;
  }
}

.education-intro__top {
  @include blockWrapper;
}

.education-intro__top-content {
  @include blockContent;
  display: flex;
  flex-direction: column;
}

.education-intro__breadcrumbs {
  margin-bottom: 0;
}
.education-intro__bottom {
  @include blockWrapper;
}

.education-intro__bottom-card-wrapper {
  filter: drop-shadow(-0.2rem -0.2rem 1.2rem rgba(8, 159, 124, 0.25))
    drop-shadow(0.2rem 0.2rem 1.2rem rgba(8, 159, 124, 0.25));
  grid-row: 1 / 2;
  grid-column: 1 / -1;

  picture {
    display: contents;
  }

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;

    filter: drop-shadow(0.2rem 0.2rem 0.6rem rgba(8, 159, 124, 0.25))
      drop-shadow(-0.2rem -0.2rem 0.6rem rgba(8, 159, 124, 0.25));
  }
}

.education-intro__bottom-content {
  @include blockContent;
  grid-row: 1 / 2;
  z-index: 5;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2.4rem;

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    &::after {
      content: "";
      display: block;
      margin-top: auto;
      aspect-ratio: 375 / 258;
    }
  }
}

.education-intro__text-content {
  display: flex;
  flex-direction: column;

  @include breakpoint(mobile) {
    max-width: none;
    padding-top: 10rem;
    padding-bottom: 2.4rem;
    padding-bottom: 4rem;
  }
}

.education-intro__heading {
  margin-bottom: 2.4rem;

  @include breakpoint(mobile) {
    margin-bottom: 2.4rem;
  }
}

.education-intro__text {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 4rem;
  max-width: 45rem;

  @include breakpoint(mobile) {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    max-width: none;
    margin-bottom: 2.4rem;
  }
}

.education-intro__numbers-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 2.4rem;
}

.education-intro__numbers-card {
  display: flex;
  flex-direction: column;
}

.education-intro__numbers-card-amount {
  font-size: 8.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  color: var(--primary-color);
  @include breakpoint(mobile) {
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
  }
}

.education-intro__numbers-card-text {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;

  @include breakpoint(mobile) {
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
  }
}
.education-intro__bottom-card {
  @include breakpointMF(small-tablet) {
    background: #f8f8f8;
    aspect-ratio: 1888 / 641;
    margin: 0 1.6rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-mask-image: url("../images/vacancies-mask.svg");
    mask-image: url("../images/vacancies-mask.svg");
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: none;
    mask-repeat: no-repeat;
  }

  @include breakpoint(mobile) {
    background: #f8f8f8;
    display: flex;
    flex-direction: column;
    -webkit-mask-image: url("../images/vacancies-mask-mobile.svg");
    mask-image: url("../images/vacancies-mask-mobile.svg");
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: none;
    mask-repeat: no-repeat;
    flex-grow: 1;
  }
}

.education-intro__image {
  @include breakpointMF(small-tablet) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    object-fit: cover;
    align-self: stretch;
    justify-self: stretch;
    border-radius: 0.8rem;
  }

  @include breakpoint(mobile) {
    aspect-ratio: 375 / 258;
    border-radius: 0.8rem;
    margin-top: auto;
  }
}
