.faq-page {
  @include blockWrapper;
  margin-bottom: 15rem;
  padding-top: 2.4rem;

  @include breakpoint(mobile) {
    padding-top: 1.4rem;
    margin-bottom: 7.2rem;
  }
}

.faq-page__content {
  @include blockContent;
  display: flex;
  flex-direction: column;
}

.faq-page__breadcrumbs {
  margin-bottom: 5rem;

  @include breakpoint(mobile) {
    margin-bottom: 3.2rem;
  }
}

.faq-page__heading {
  margin-bottom: 3.2rem;
  @include breakpoint(mobile) {
    margin-bottom: 2.4rem;
  }
}

.faq-page__wrapper {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-gap: 2rem;

  @include breakpoint(mobile) {
    display: block;
  }
}
