.large-heading {
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  text-transform: uppercase;
  text-wrap: balance;

  @include breakpoint(mobile) {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    text-transform: uppercase;
  }
}
