.page-header {
  @include blockWrapper;
  padding: 2.4rem 0;

  position: relative;
  z-index: 140;
  transition: background-color 0.2s;

  @include breakpointMF(small-tablet) {
    &:has(.page-header__nav-list-item--catalog:hover) {
      background-color: #fff;
    }
  }

  @include breakpoint(mobile) {
    padding: 1rem 0;
  }
}

.page-header__content {
  @include blockContent;
}

.page-header__top-row {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  padding-bottom: 2.6rem;
  @include breakpoint(mobile) {
    gap: 1.4rem;
    padding-bottom: 0;
    align-items: flex-start;
  }
}

.page-header__logo,
.page-header__menu-logo {
  flex-shrink: 0;
  margin-right: auto;

  @include breakpoint(mobile) {
    margin-top: 0.2rem;
    position: relative;
  }
}

.page-header__logo-image,
.page-header__menu-logo-image {
  width: 20.9rem;
  display: block;
  height: auto;

  @include breakpoint(mobile) {
    width: 14.7rem;
  }
}

// .page-header__menu-logo {
//   z-index: 100;
// }

// .page-header__menu-close {
//   z-index: 100;
// }

.page-header__contacts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  row-gap: 2rem;
  margin-right: 7.4rem;

  @include breakpoint(mobile) {
    grid-area: contacts;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: nowrap;
  }
}

.page-header__contacts-link {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3;
  svg {
    flex-shrink: 0;
    fill: var(--primary-color);
    width: 2rem;
    height: 2rem;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--primary-color);
    }
  }

  @include breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.page-header__social {
  flex-shrink: 0;

  margin-right: 9.7rem;
  @include breakpoint(mobile) {
    margin: 0;
    grid-area: social;
  }
}

.page-header__social-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.6rem;

  @include breakpoint(mobile) {
    gap: 0.8rem;
  }
}

.page-header__social-list-item {
  flex-shrink: 0;
}

.page-header__social-link {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
  border: 1px solid #848484;
  transition: background-color 0.2s, border-color 0.2s, opacity 0.2s;
  display: block;
  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--primary-color);
    transition: fill 0.2s;
  }

  @media (hover: hover) {
    &:hover {
      opacity: 0.4;
    }
  }
}

.page-header__callback-link {
  padding-left: 6.4rem;
  padding-right: 6.4rem;

  @include breakpoint(mobile) {
    grid-area: callback;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
}

.page-header__cart {
  flex-shrink: 0;
  box-shadow: -0.2rem -0.2rem 0.2rem 0rem rgba(255, 255, 255, 0.25) inset,
    0.2rem 0.2rem 0.2rem 0rem rgba(255, 255, 255, 0.25) inset;
  width: 5.6rem;
  height: 5.6rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: var(--primary-color);
  position: relative;
  isolation: isolate;
  transition: background-color 0.2s, color 0.2s;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    z-index: -1;
    border: 1px solid var(--primary-color);
    opacity: 0;
    transition: opacity 0.2s;
  }
  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: white;
    transition: fill 0.2s;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: transparent;

      svg {
        fill: var(--primary-color);
      }
      &::before {
        opacity: 1;
      }
    }
  }

  @include breakpoint(mobile) {
    grid-area: cart;
    align-self: center;
    justify-self: flex-end;
  }
}

.page-header__only-desktop {
  display: contents;

  @include breakpoint(mobile) {
    display: none;
  }
}

.page-header__nav {
  @include breakpoint(mobile) {
    margin-bottom: 5.6rem;
  }
}

.page-header__nav-list {
  @include breakpointMF(small-tablet) {
    border-top: 1px solid rgba(#272727, 0.6);
    display: flex;
    align-items: flex-start;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 1px;
      background-color: rgba(#272727, 0.6);
      height: 1.6rem;
    }
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 1px;
      background-color: rgba(#272727, 0.6);
      height: 1.6rem;
    }
  }
  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
  }
}

.page-header__nav-list-item {
  @include breakpointMF(small-tablet) {
    flex-grow: 1;

    &--has-dropdown {
      position: relative;
    }

    &:hover {
      .page-header__nav-link .icon-arrow {
        transform: rotate(180deg);
      }
      .page-header__brands-dropdown,
      .page-header__submenu-dropdown {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
      }

      .page-header__catalog-dropdown {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.2s, visibility 0.2s;
      }
    }
  }
  @include breakpoint(mobile) {
    border-top: 1px solid #d9d9d9;
    &:last-child {
      border-bottom: 1px solid #d9d9d9;
    }
  }
}

.page-header__nav-list-item--catalog,
.page-header__nav-list-item--has-dropdown {
  @include breakpoint(mobile) {
    .page-header__nav-link {
      &::after {
        content: "";
        flex-shrink: 0;
        height: 1.264rem;
        width: 0.6035rem;
        background-image: url("../images/mobile-menu-right-arrow.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: auto;
        display: block;
      }
    }
  }
}
.page-header__nav-link {
  @include breakpointMF(small-tablet) {
    padding: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    transition: color 0.2s;
    width: 100%;
    position: relative;
    .page-header__nav-list-item:not(:last-child) & {
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 1px;
        background-color: rgba(#272727, 0.6);
        height: 1.6rem;
      }
    }
    .icon-catalog {
      width: 1.7804rem;
      height: 2.056rem;
      margin-right: 1.2rem;
      fill: var(--primary-color);
      flex-shrink: 0;
    }

    .icon-arrow {
      flex-shrink: 0;
      fill: var(--primary-color);
      width: 1.2rem;
      height: 1.2rem;
      margin-left: 0.6rem;
      transition: transform 0.2s;
    }
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--primary-color);
      }
    }
  }

  @include breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    padding: 1.6rem 0;
    display: flex;
    align-items: center;
    gap: 1.2rem;

    .icon-arrow {
      display: none;
    }

    .icon-catalog {
      flex-shrink: 0;
      width: 1.7804rem;
      height: 2.056rem;
      fill: var(--primary-color);
    }
  }
}

.page-header__burger {
  display: none;

  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    flex-shrink: 0;
    margin-top: 0.7rem;

    span {
      width: 2.8rem;
      height: 0.2rem;
      background-color: var(--primary-color);
      border-radius: 0.8rem;
    }
  }
}

.page-header__mobile-phone {
  display: none;

  @include breakpoint(mobile) {
    width: 3.2rem;
    height: 3.2rem;
    display: block;
    flex-shrink: 0;
    border-radius: 50%;
    border: 1px solid #848484;
    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: var(--primary-color);
    }
  }
}

.page-header__submenu-dropdown,
.page-header__brands-dropdown {
  @include breakpointMF(small-tablet) {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;
    z-index: 50;
    padding-top: 0.8rem;
    width: max-content;
    body:not(.loaded) & {
      display: none;
    }
  }

  @include breakpoint(mobile) {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 var(--content-padding);
    overscroll-behavior-y: contain;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 3rem;
    z-index: 70;
    background-color: #fff;
    .page-header__nav-list-item.active & {
      display: block;
    }
  }
}

.page-header__brands-dropdown-inner {
  @include breakpointMF(small-tablet) {
    border-radius: 0.8rem;
    background: #fff;
    box-shadow: -0.2rem -0.2rem 1.2rem 0rem rgba(8, 159, 124, 0.25),
      0.2rem 0.2rem 1.2rem 0rem rgba(8, 159, 124, 0.25),
      -0.2rem -0.2rem 0.2rem 0rem rgba(255, 255, 255, 0.25) inset,
      0.2rem 0.2rem 0.2rem 0rem rgba(255, 255, 255, 0.25) inset;
    display: flex;
    flex-direction: column;
    padding: 3.2rem;
  }
}

.page-header__submenu-dropdown-inner {
  @include breakpointMF(small-tablet) {
    border-radius: 0.8rem;
    background: #fff;
    box-shadow: -0.2rem -0.2rem 1.2rem 0rem rgba(8, 159, 124, 0.25),
      0.2rem 0.2rem 1.2rem 0rem rgba(8, 159, 124, 0.25),
      -0.2rem -0.2rem 0.2rem 0rem rgba(255, 255, 255, 0.25) inset,
      0.2rem 0.2rem 0.2rem 0rem rgba(255, 255, 255, 0.25) inset;
    display: flex;
    flex-direction: column;
    padding: 4.8rem;
    width: max-content;
  }
}

.page-header__submenu-list {
  @include breakpointMF(small-tablet) {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.page-header__submenu-list-item {
  @include breakpoint(mobile) {
    border-top: 1px solid #d9d9d9;
    &:last-child {
      border-bottom: 1px solid #d9d9d9;
    }
  }
}

.page-header__submenu-link {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  gap: 1.6rem;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: var(--primary-color);
      .page-header__submenu-arrow {
        opacity: 1;
      }
    }
  }
  @include breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    padding: 1.6rem 0;
    display: flex;
    align-items: center;
  }
}

.page-header__submenu-arrow {
  flex-shrink: 0;

  border-radius: 50%;
  width: 2.4rem;
  height: 2.4rem;
  opacity: 0;
  transition: opacity 0.2s;
  background-color: var(--primary-color);
  svg {
    width: 100%;
    height: 100%;
    fill: white;
  }

  @include breakpoint(mobile) {
    display: none;
  }
}

.page-header__brands-list {
  @include breakpointMF(small-tablet) {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }
}

.page-header__brands-list-item {
  @include breakpoint(mobile) {
    border-top: 1px solid #d9d9d9;
    &:last-child {
      border-bottom: 1px solid #d9d9d9;
    }
  }
}

.page-header__brands-card {
  @include breakpointMF(small-tablet) {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: var(--primary-color);
        .page-header__brands-arrow {
          opacity: 1;
        }
      }
    }
  }

  @include breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    padding: 1.6rem 0;
    display: flex;
    align-items: center;
  }
}

.page-header__brands-image-container {
  @include breakpointMF(small-tablet) {
    flex-shrink: 0;
    border-radius: 0.2945rem;
    background: #fff;
    box-shadow: -0.1473rem -0.1473rem 0.8836rem 0rem rgba(8, 159, 124, 0.25),
      0.1473rem 0.1473rem 0.8836rem 0rem rgba(8, 159, 124, 0.25),
      -0.1473rem -0.1473rem 0.1473rem 0rem rgba(255, 255, 255, 0.25) inset,
      0.1473rem 0.1473rem 0.1473rem 0rem rgba(255, 255, 255, 0.25) inset;
    overflow: hidden;
    position: relative;
    width: 8rem;
    &::before {
      content: "";
      display: block;
      padding-bottom: 70%;
    }
  }

  @include breakpoint(mobile) {
    display: none;
  }
}

.page-header__brands-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-header__brands-arrow {
  flex-shrink: 0;
  margin-left: auto;
  border-radius: 50%;
  width: 2.4rem;
  height: 2.4rem;
  opacity: 0;
  transition: opacity 0.2s;
  background-color: var(--primary-color);
  svg {
    width: 100%;
    height: 100%;
    fill: white;
  }

  @include breakpoint(mobile) {
    display: none;
  }
}

.page-header__catalog-dropdown {
  @include breakpointMF(small-tablet) {
    position: absolute;
    top: 100%;
    padding-top: 1.6rem;
    left: 0;
    z-index: 50;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0s linear 0.2s;
    z-index: 30;
    body:not(.loaded) & {
      display: none;
    }
  }

  @include breakpoint(mobile) {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 var(--content-padding);
    overscroll-behavior-y: contain;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 3rem;
    z-index: 70;
    background-color: #fff;
    .page-header__nav-list-item.active & {
      display: block;
    }
  }
}

.page-header__catalog-dropdown-inner {
  @include breakpointMF(small-tablet) {
    @include blockWrapper;
    background: #fff;
    box-shadow: -0.2rem -0.2rem 1.2rem 0rem rgba(8, 159, 124, 0.25),
      0.2rem 0.2rem 1.2rem 0rem rgba(8, 159, 124, 0.25),
      -0.2rem -0.2rem 0.2rem 0rem rgba(255, 255, 255, 0.25) inset,
      0.2rem 0.2rem 0.2rem 0rem rgba(255, 255, 255, 0.25) inset;
  }
}

.page-header__catalog-dropdown-inner-content {
  @include breakpointMF(small-tablet) {
    @include blockContent;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 8rem;
  }
}

.page-header__catalog-categories {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 2.4rem;
  grid-row-gap: 1.6rem;
  position: relative;

  @include breakpoint(mobile) {
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 1.6rem;
  }
}

.page-header__catalog-main-categories-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  @include breakpointMF(small-tablet) {
    position: relative;
  }
}

.page-header__catalog-main-categories-list-item {
  @include breakpointMF(small-tablet) {
    grid-column: 1 / 2;
    &:hover {
      & > .page-header__catalog-submenu {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
      }
      .page-header__catalog-main-categories-card-bg::before {
        opacity: 1;
      }
    }
  }
}

.page-header__catalog-main-categories-card {
  position: relative;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-areas: "stack";
  isolation: isolate;
  border-radius: 0.8rem;
  overflow: hidden;
  overflow: clip;
  background: #fff;
  box-shadow: -0.2rem -0.2rem 1.2rem 0rem rgba(8, 159, 124, 0.25),
    0.2rem 0.2rem 1.2rem 0rem rgba(8, 159, 124, 0.25),
    -0.2rem -0.2rem 0.2rem 0rem rgba(255, 255, 255, 0.25) inset,
    0.2rem 0.2rem 0.2rem 0rem rgba(255, 255, 255, 0.25) inset;

  &::before {
    content: "";
    display: block;
    padding-bottom: 54.6%;
    grid-area: stack;

    @include breakpoint(mobile) {
      padding-bottom: 30%;
    }
  }

  @include breakpoint(mobile) {
    border-radius: 0.8rem;
    background: #fff;
    box-shadow: -0.2rem -0.2rem 1.2rem 0rem rgba(8, 159, 124, 0.25),
      0.2rem 0.2rem 1.2rem 0rem rgba(8, 159, 124, 0.25),
      -0.2rem -0.2rem 0.2rem 0rem rgba(255, 255, 255, 0.25) inset,
      0.2rem 0.2rem 0.2rem 0rem rgba(255, 255, 255, 0.25) inset;
  }
}

.page-header__catalog-main-categories-card-bg {
  position: absolute;
  inset: 0;
  z-index: -1;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      359deg,
      #02c498 1.42%,
      rgba(255, 255, 255, 0) 61.34%
    );
    transition: opacity 0.2s;
    opacity: 0;
  }
}

.page-header__catalog-main-categories-card-bg-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-header__catalog-main-categories-card-content {
  grid-area: stack;
  z-index: 5;
  display: flex;
  flex-direction: column;
  padding: 3.2rem;
  gap: 2.4rem;

  @include breakpoint(mobile) {
    padding: 2.4rem;
    gap: 0.8rem;
  }
}

.page-header__catalog-main-categories-card-title {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;

  @include breakpoint(mobile) {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
  }
}

.page-header__catalog-main-categories-card-arrow {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  flex-shrink: 0;

  @include breakpoint(mobile) {
    width: 2.4rem;
    height: 2.4rem;
  }
  svg {
    fill: white;
    width: 100%;
    height: 100%;
  }
}

.page-header__catalog-submenu {
  @include breakpointMF(small-tablet) {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 100%;
    padding-left: 2.4rem;
    width: 100%;
    top: 0;
    min-height: 100%;
    box-sizing: content-box;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;
  }

  @include breakpoint(mobile) {
    display: none;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0 var(--content-padding);
    overscroll-behavior-y: contain;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 3rem;
    z-index: 70;
    background-color: #fff;
    .page-header__catalog-main-categories-list-item.active > & {
      display: block;
    }
  }
}

.page-header__catalog-submenu-inner {
  @include breakpointMF(small-tablet) {
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;
    border-radius: 0.8rem;
    background: #fff;
    box-shadow: -0.2rem -0.2rem 1.2rem 0rem rgba(8, 159, 124, 0.25),
      0.2rem 0.2rem 1.2rem 0rem rgba(8, 159, 124, 0.25),
      -0.2rem -0.2rem 0.2rem 0rem rgba(255, 255, 255, 0.25) inset,
      0.2rem 0.2rem 0.2rem 0rem rgba(255, 255, 255, 0.25) inset;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-sizing: border-box;
    position: relative;
  }
}

.page-header__catalog-submenu-list {
  @include breakpointMF(small-tablet) {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
}

.page-header__catalog-submenu-list-item {
  @include breakpointMF(small-tablet) {
    &:hover {
      & > .page-header__catalog-submenu {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
      }
    }
  }

  @include breakpoint(mobile) {
    border-top: 1px solid #d9d9d9;
    &:last-child {
      border-bottom: 1px solid #d9d9d9;
    }
  }
}

.page-header__catalog-submenu-link {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  transition: color 0.2s, background-color 0.2s;
  padding: 1.6rem 4rem;
  padding-right: 1rem;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background: #f8f8f8;
    }
  }

  @include breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    padding: 1.6rem 0;
    display: flex;
    align-items: center;
    gap: 1.2rem;
  }
}

.page-header__catalog-submenu-link-arrow {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  background-color: var(--primary-color);

  @include breakpoint(mobile) {
    display: none;
  }
  svg {
    fill: white;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.page-header__menu {
  @include breakpoint(mobile) {
    background: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 70;
    display: flex;
    flex-direction: column;
    transition: opacity 0.4s, visibility 0s linear 0.4s;
    opacity: 0;
    visibility: hidden;
    padding: 0 var(--content-padding);
    padding-bottom: 6rem;
    overscroll-behavior-y: contain;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;

    color: var(--text-color);

    .menu-open & {
      opacity: 1;
      visibility: inherit;
      transition: opacity 0.4s, visibility 0.4s;
    }

    body:not(.loaded) & {
      display: none;
    }
  }
}

.page-header__menu-top-row {
  display: none;

  @include breakpoint(mobile) {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
    justify-content: space-between;
    padding: 1rem 0;
    margin-bottom: 3.8rem;
  }
}

.page-header__menu-close {
  flex-shrink: 0;
  width: 2.4rem;
  height: 2.4rem;
  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--primary-color);
  }
}

.page-header__menu-bottom {
  display: none;

  @include breakpoint(mobile) {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    grid-gap: 2rem;
    grid-row-gap: 4rem;
    grid-template-areas: "callback callback" "social cart" "contacts contacts";
  }
}

.page-header__back-btn {
  display: none;

  @include breakpoint(mobile) {
    display: flex;
    align-items: center;
    margin-bottom: 3.6rem;
    gap: 1.3rem;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #a1a1a1;

    svg {
      flex-shrink: 0;
      fill: var(--primary-color);
      height: 1.264rem;
      width: 0.6035rem;
    }
  }
}
