.project-card {
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  background-color: var(--primary-color);
  color: white;
  box-shadow: -0.2rem -0.2rem 1.2rem 0rem rgba(8, 159, 124, 0.25),
    0.2rem 0.2rem 1.2rem 0rem rgba(8, 159, 124, 0.25),
    -0.2rem -0.2rem 0.2rem 0rem rgba(255, 255, 255, 0.25) inset,
    0.2rem 0.2rem 0.2rem 0rem rgba(255, 255, 255, 0.25) inset;
  overflow: hidden;
  overflow: clip;
  flex-grow: 1;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      .project-card__title {
        color: rgba(#02211a, 0.7);
      }

      .project-card__arrow {
        background-color: transparent;
        svg {
          fill: var(--primary-color);
        }
      }
    }
  }

  @include breakpoint(mobile) {
    border-radius: 0.4rem;
    box-shadow: -0.0583rem -0.0583rem 0.3496rem 0rem rgba(8, 159, 124, 0.25),
      0.0583rem 0.0583rem 0.3496rem 0rem rgba(8, 159, 124, 0.25),
      -0.0583rem -0.0583rem 0.0583rem 0rem rgba(255, 255, 255, 0.25) inset,
      0.0583rem 0.0583rem 0.0583rem 0rem rgba(255, 255, 255, 0.25) inset;
  }
}

.project-card__slider {
  .swiper {
    border-radius: 0.8rem;
    overflow: hidden;

    @include breakpoint(mobile) {
      border-radius: 0.4rem;
    }
  }
}

.project-card__slider-image-wrapper {
  position: relative;

  &::before {
    content: "";
    padding-bottom: 63.4%;
    display: block;
  }
}

.project-card__slider-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-user-drag: none;
  user-select: none;
}

.project-card__content {
  padding: 3.2rem;
  display: flex;
  align-items: flex-start;
  border-radius: 1.2rem;
  background: #fff;
  flex-grow: 1;
  position: relative;
  backface-visibility: hidden;
  transform: translateZ(0);
  // min-height: 16rem;
  box-shadow: -0.2rem -0.2rem 1.2rem 0rem rgba(8, 159, 124, 0.25),
    0.2rem 0.2rem 1.2rem 0rem rgba(8, 159, 124, 0.25),
    -0.2rem -0.2rem 0.2rem 0rem rgba(255, 255, 255, 0.25) inset,
    0.2rem 0.2rem 0.2rem 0rem rgba(255, 255, 255, 0.25) inset;

  @include breakpoint(mobile) {
    padding: 1.2rem;
    border-radius: 0.3496rem;
    background: #fff;
    flex-direction: column;
    gap: 2.5rem;
    box-shadow: -0.0583rem -0.0583rem 0.3496rem 0rem rgba(8, 159, 124, 0.25),
      0.0583rem 0.0583rem 0.3496rem 0rem rgba(8, 159, 124, 0.25),
      -0.0583rem -0.0583rem 0.0583rem 0rem rgba(255, 255, 255, 0.25) inset,
      0.0583rem 0.0583rem 0.0583rem 0rem rgba(255, 255, 255, 0.25) inset;

    .projects__list-item & {
      min-height: 15.6rem;
    }
  }
}

.project-card__content-wrapper {
  margin: 1.6rem;
  margin-top: -9rem;
  position: relative;
  z-index: 10;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  @include breakpoint(mobile) {
    margin: 0.8rem;
    margin-top: -4rem;
  }
}

.project-card__pagination.swiper-pagination-horizontal {
  position: absolute;
  left: 0;
  right: 0;
  top: auto;
  z-index: 12;
  width: auto;
  bottom: 100%;
  margin-bottom: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  @include breakpoint(mobile) {
    margin-bottom: 0.7rem;
    gap: 1.2rem;
  }
  .swiper-pagination-bullet {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    opacity: 1;
    background-color: rgba(white, 0.8);
    flex-shrink: 0;
    transition: background-color 0.2s;
    margin: 0;
    @include breakpoint(mobile) {
      width: 0.8rem;
      height: 0.8rem;
    }

    &.swiper-pagination-bullet-active {
      background-color: var(--primary-color);
    }
  }
}

.project-card__title {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
  transition: color 0.2s;

  @include breakpoint(mobile) {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3;
  }
}

.project-card__arrow {
  flex-shrink: 0;
  margin-left: auto;
  margin-top: auto;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  transition: background-color 0.2s, border-color 0.2s;
  border: 1px solid var(--primary-color);

  @include breakpoint(mobile) {
    width: 3.2rem;
    height: 3.2rem;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: white;
    transition: fill 0.2s;
  }
}
