.projects {
  @include blockWrapper;
  margin-bottom: 15rem;
  padding-top: 2.4rem;

  @include breakpoint(mobile) {
    padding-top: 1.4rem;
    margin-bottom: 7.2rem;
  }
}

.projects__content {
  @include blockContent;
  display: flex;
  flex-direction: column;
}

.projects__breadcrumbs {
  margin-bottom: 4.9rem;

  @include breakpoint(mobile) {
    margin-bottom: 3.2rem;
  }
}

.projects__heading {
  margin-bottom: 4.5rem;

  @include breakpoint(mobile) {
    margin-bottom: 2.4rem;
  }
}

.projects__categories {
  margin-bottom: 4rem;

  @include breakpoint(mobile) {
    margin-bottom: 4rem;
  }
}

.projects__categories-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.4rem;

  @include breakpoint(mobile) {
    flex-wrap: nowrap;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    margin: 0 calc(-1 * var(--content-padding));
    padding: 0 var(--content-padding);
    scroll-snap-type: x mandatory;
    scroll-padding-left: var(--content-padding);
    @include noScrollbar;
    gap: 1.2rem;
  }
}

.projects__categories-list-item {
  flex-shrink: 0;

  @include breakpoint(mobile) {
    scroll-snap-align: start;
  }
}

.projects__categories-link {
  display: block;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  padding: 1.6rem 2.4rem;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  border-radius: 20rem;
  border: 1px solid #ddd;
  color: var(--text-color);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, opacity 0.2s;

  @media (hover: hover) and (pointer: fine) {
    &:not(.active):hover {
      opacity: 0.43;
    }
  }
  &.active {
    border-color: var(--primary-color);
    cursor: default;
  }

  &:link,
  &:visited {
    color: var(--text-color);
  }

  @include breakpoint(mobile) {
    padding: 1.6rem;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
  }
}

.projects__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 2.4rem;
  margin-bottom: 5.6rem;
  &:last-child {
    margin-bottom: 0;
  }

  @include breakpoint(mobile) {
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 2.4rem;
    margin-bottom: 4rem;
  }
}

.projects__list-item {
  display: flex;
  flex-direction: column;
}
