.text-input {
  display: block;
  width: 100%;
  border-radius: 4.5rem;
  border: 1px solid #dadada;
  transition: border-color 0.2s, color 0.2s;
  display: block;
  padding: 0 2.4rem;
  height: 5.6rem;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  &.not-valid {
    border-color: var(--red);
  }
}

textarea.text-input {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.text-input--resizeable {
  background-image: url("../images/resize-icon.svg");
  background-repeat: no-repeat;
  background-position: right 0.9rem bottom 0.5rem;
  background-size: 2.3rem 2.3rem;
  resize: vertical;
  min-height: 5.6rem;
  &::-webkit-resizer {
    background: transparent;
    display: none;
  }
}
