:root {
  --primary-color: #02c498;
  --red: #ff0000;
  --grey: #f8f8f8;
  --text-color: #02211a;
  --involve: "Involve", sans-serif;
  --content-padding: 4rem;
  --container-width: 150rem;
  --inter: "Inter", sans-serif;

  @include breakpoint(mobile) {
    --content-padding: 2.4rem;
  }
}
